[2019-04-15 22:03] dbekaert opened #1 "RuntimeError: Cutline not of polygon type."
Whenever specifying a boundingBox or croptounion error:
productPlot.py -f "./*.nc" -b '33 36 -81 -76' -plotcoh

[2019-04-16 03:30] dbekaert opened #2 "plot average coherence"
Move the average coherence 2D map calculation as its own plotting option to speed up processing.

[2019-04-17 00:24] dbekaert opened #3 "installation guidlines for Mac"
Adding installation guidelines for mac building gdal 2.5+ and proj6 from source.

[2019-04-17 00:29] dbekaert opened #4 "Installation guidelines for linux"
Installation guidelines how to build GDAL +2.5 and proj6 for linux users.

[2019-04-17 00:39] dbekaert opened #5 "porting two-stage unwrapper from ISCE contrib"
Moving the two stage unwrapper from isce contrib into the tools.
https://github.com/isce-framework/isce2/tree/master/contrib/UnwrapComp
This requires removing any of the ISCE dependencies.

Permission of original developer (Ravi Kiran) has been granted for copying UnwrapComp in the ARIA-tools repo. Provide reference to him as author.

[2019-04-17 04:32] dbekaert opened #6 "Jupyter notebook for product manipulation"
Jupyter notebook which provides example on how to manipulate standard products.
This is handled by the extractProduct.py program.

Note book overview:
1) example of extractProduct.py inputs and how to retrieve the help for it
Discuss the capabilities of the program:
- the program will figure out spatial-temporal continuous datasets.
- program will figure out cropping and merging based on the bound

[2019-04-17 04:47] dbekaert opened #7 "Jupyter notebook for Baseline and quality control plots"
Jupyter notebook which provides example on how to generate the quality and baseline plots for the GUNW products.
This is handled by the productPlot.py program.

Note book overview:

1) example of productPlot.py inputs and how to retrieve the help for it
Discuss the capabilities of the program:
- The program will figure out spatial-temporal continuous data sets, and plots are made per IFG or for an

[2019-04-17 04:54] dbekaert opened #8 "Jupyter notebook for time-series"
Jupyter notebook which provides example on how to prepare for time-series ingest of e.g. GIANT or PySAR using GUNW standard product.
This is handled by the TS_setup.py program.

Note book overview:
1) example of TS_setup.py inputs and how to retrieve the help for it
Discuss the capabilities of the program:
- This program will split the products in spatial-temporal contiguous datasets. i.e. the pro

[2019-04-17 19:35] #4 closed, assigned to ehavazli

[2019-04-19 20:46] dbekaert opened #9 "Jupyter installation guidelines for Linux"
See ARIA-tools-docs page for adding a linux variant of the mac installation of jupyter notebook and extensions.

[2019-04-19 21:06] dbekaert opened #10 "Jupyter notebook with GDAL commandline and python examples"
Include the example on the aria.jpl.nasa.gov website in notebook format
Give example for command line as well as when using the python bindings.
Where possible include snapshot on how something should look like. e.g. screenshot of a google earth kmz, pulling information in e.g. qgis such as the bounding box.

Functionality to be included:
- extracting of a layer to e.g. vrt, envi, tiff etc.
- runn

[2019-04-24 18:40] dbekaert opened #11 "setup.py for ARIA-tools"
Add a setup.py at the top level which would take care of building the tools (binding and include) and also copy the python scripts into an install folder.

- As part of the build should check that RelaxIV is installed. RelaxIV has its own license so will not make it part of our build and will require users to do it separately. https://github.com/frangio68/Min-Cost-Flow-Class/tree/master/RelaxIV

-

[2019-04-24 18:45] #5 closed, assigned to nobody

[2019-04-24 18:54] #9 closed, assigned to ehavazli

[2019-04-24 18:55] #3 closed, assigned to bbuzzanga

[2019-04-24 23:54] dbekaert opened #12 "vrt generation does capture path to original netcdf file"
Need to update the path within the vrt to capture the folder where the vrt is made in.
Test using gdal_translate, e.g. gdal_translate -of ENVI FILE.vrt FILE_test

[2019-04-25 00:11] dbekaert opened #13 "productPlot.py Segmentation fault"
Plotting class fails with segmentation error as output.
e.g:

[code]

[2019-04-27 19:42] #2 closed, assigned to sssangha

[2019-05-02 01:39] #10 closed, assigned to ehavazli

[2019-05-09 17:54] ehavazli opened #17 "productPlot.py crash in MacOSX"
productPlot.py crashes throwing the error below in MacOSX:

[code]
**System details**
Operating system: macOS 10.14.4 (Mojave)
Matplotlib version: 3.0.3
Python version: 3.7.3

[2019-05-09 17:59] #17 closed, assigned to ehavazli

[2019-05-09 21:07] ehavazli opened #19 "Examples of plotting extents with different cases of bounding box options (overlap, partial coverage, no overlap)"
Example: No bounding box defined
[code]
![lat_extents](https://user-images.githubusercontent.com/6526589/57478876-e8313580-7250-11e9-8f20-79f91364b44a.png)

Example: Bounding box given within the extent
[code]
![lat_extents_crop](https://user-images.githubusercontent.com/6526589/57478883-ef584380-7250-11e9-80fd-ffe475c2997d.png)

Example: Bounding box with partial overlap

![lat_extents_partial](h

[2019-05-13 22:54] ehavazli opened #20 "Time series requirements (for different time-series processors)"
Here is an example of simple MintPy (PySAR) template for time-series processing outlining the required files:

[code]

[2019-05-14 14:57] dbekaert opened #21 "command line download tool using api.daac.asf"
Leverage the asf command line tool for downloading beta products.
@bbuzz31 see email forwarded with details and guidelines

[2019-05-15 04:17] #1 closed, assigned to ehavazli, sssangha

[2019-05-15 16:03] #13 closed, assigned to nobody

[2019-05-20 20:37] dbekaert opened #23 "Update the class to capture duplicate products"
There might be occurrences where duplicate products exist. i.e. A newer SLC was made available and a new GUNW product got generated in addition to the one that already existed.

@sssangha  We should implement a check for this in the product class and ensure no duplicates are passed through. e.g. other parts of the code would do averaging in GDAL if they overlap completely, unwrapping stitching wou

[2019-05-22 02:04] dbekaert opened #26 "stitching based on product overlap"
Basic stitching method by minimizing phase discontinuities along product borders.
This would become the default stitching method for unwrapped phase and propagation of the connected components as well.

[2019-06-01 07:11] #12 closed, assigned to nobody

[2019-06-01 20:13] dbekaert opened #27 "Example of using vsicurl to GUNW products"
Adding a small example of using vsi curl to access netcdf products in ASF AWS directly. Providing notes below. Note the ASF instructions are outdated.

@piyushrpt does this work for you?

## ASF instructions
From ASF website: Users can obtain a temporary AWS access key from ASF using their Earthdata Login credentials. The temporary key is then used to obtain data while the access key is valid. Tem

[2019-06-03 19:05] dbekaert opened #28 "3D data cube extraction interpolation error"
TS_setup.py is working without an error for track 77 while using bounding box option. The extracted raster and VRT files are created within the given bounding box.

[code]

I tested the code using the data set over San Francisco:

[code]
However, I encountered an error while testing with data over San Francisco. The perpendicular baseline raster fails with the error below:

[code]

This error is r

[2019-06-09 22:44] piyushrpt opened #29 "gdal3, mintpy, basemap etc"
See insarlab/MintPy#83

1. Might be a good idea to explicitly add >=3.6 to python requirement
2. Setting PROJ_LIB using pyproj.pyproj_datadir will remove conflicts with basemap

[2019-06-19 16:59] #28 closed, assigned to sssangha

[2019-06-23 23:55] #11 closed, assigned to nobody

[2019-06-26 15:26] dbekaert commented on #21
@bbuzz31 ASF made changes making it easier for us to download directly .nc files only.

## Original as implemented in out API

**Getting all ALL gunw products at asf (both the netcdf and the derived geotiffs)**
[code]

## To be implemented improvement for API
ASF added a "processingLevel" field for the GUNW products with allows for requesting a specific subset of the data.
**New "processingLevel"

[2019-06-28 16:18] dbekaert opened #50 "Building a conda-channel for ARIAtools"
Will use this issue for advice and tracking notes on how to build an ARIAtools conda channel

[2019-06-28 16:19] dbekaert commented on #20
We now have a good working version for time-series ingest. Closing this item

[2019-06-28 16:19] #20 closed

[2019-06-28 16:20] dbekaert commented on #26
Code have been contributed. closing this item

[2019-06-28 16:20] #26 closed

[2019-07-07 16:33] #19 closed

[2019-07-09 11:17] dbekaert commented on #6
Reviewed and completed this notebook

[2019-07-09 11:17] #6 closed

[2019-07-09 11:18] dbekaert commented on #8
Updating to area of interest for @hfattahi notebook on mintpy:

1) bbox used for defining study area:  "37.25 38.1 -122.6 -121.75'
2) time-period:  all
3) track number: 42

[code]

[2019-07-09 11:34] dbekaert commented on #8
Track number:  42.
Time-period: all
bbox: ??

[2019-07-10 11:17] dbekaert commented on #7
updating all outputs of ariaPlot to go into figures.
Will update notebook to reflect these changes.

[2019-07-10 11:24] dbekaert commented on #23
*Copying @piyushrpt for thoughts.*

We will not have an easy way to verify which is the more recent versus later generated GUNW product. Especially, as ESA does not update the generation time-tag of replacement SLCs.

The IPF rules are added in for SLC stitching of Tops and are meant as precaution.
GUNW stitching across different IPF's or product versions should be fine (already do that).

**There

[2019-07-10 16:27] sssangha commented on #7
David, the commit I pushed yesterday already made it so that all outputs from ariaPlot go into "figures"

[2019-07-10 16:34] dbekaert commented on #7
yes i saw,  but i needed to update the ariaPlot jupyter notebook to also capture that.
That has been completed now.

[2019-07-10 16:34] #7 closed

[2019-07-13 10:02] dbekaert opened #64 "Option to create DEM file for IFG extent"
We generate a DEM for downloading products, the DEM over the IFG extend is only kept in memory. Suggest of adding an option to extract and store the IFG DEM as well.

@sssangha,  what would be the best place to put it?
All the products in folders are on the final bounding box.
We could make a folder with the DEM, but want to avoid users being confused by the SRTM dem at the top level. Alternativel

[2019-07-15 15:17] ehavazli commented on #64
@dbekaert is this going to be different than what is done now? We are downloading a DEM automatically unless stated otherwise.

[2019-07-15 15:30] dbekaert commented on #64
yes, it will be doing two DEM's one like we already have, the other on the productBoundingBox.

[2019-07-24 15:53] dbekaert opened #71 "conflicts in requirements"
Adding this issue ticket to sort out conflicts in the installation from the requirements file, given there were issues reported on slack with the installation.

 @piyushrpt is planning on doing an installation webinar next week.
So @ehavazli @bbuzz31 trying to get closure on the following and also confirm that it fixes issues you had before. Can you decribe here what the problems are?

Also, looki

[2019-07-24 16:39] hfattahi commented on #71
adding @yunjunz as he is trying to install ARIA tools followed by MintPy installation. He seems to be seeing inconsistency between h5py and gdal3.0 which are both needed for running prep_aria.py in MintPy.

[2019-07-24 17:01] yunjunz commented on #71
I had a hdf5 version conflict below while trying to install h5py to be able to run `prep_aria.py` in MintPy, after installing ARIA-tools.

[code]

Using pip from conda, instead of conda directly, solved the problem, as suggested by @ehavazli:

[code]

[2019-07-24 17:31] ehavazli commented on #71
I will get this done.

the problem arises when conda makes changes to GDAL versions. It is important to be aware that a similar issue like h5py can arise with other packages as well. Every now and then I make tests with installation from scratch and after h5py problem, I had had issues with numpy. However, all these issues are going to be resolved hopefully as conda stabilizes packages. Until then

[2019-07-25 00:36] dbekaert commented on #71
@piyushrpt mentioned to try and force h5py<1.10.5 in the conda requirements.

[2019-07-25 06:18] piyushrpt commented on #71
You should use hdf5 < 1.10.5 - if you have a dependency on h5py for now. They are still evaluating upgrading to 1.10.5.

[2019-07-25 16:05] yunjunz commented on #71
Adding `hdf5<1.10.5` and `h5py` to requirements.txt still give me the same conflicts as before.

[code]

[2019-07-25 16:32] piyushrpt commented on #71
@yunjunz . I tried the same just now but with "-c conda-forge" and everything works as expected. GDAL 3 is only available on available on forge I believe.

[2019-07-28 20:43] dbekaert opened #81 "UNAVCO test across repo's"
Let us test with both releases for Mintpy and ARIA-tools. ARIA-tools is being released from the v1 branch not from dev, which contains additional functionality. We back-ported some of the changes wrt meta-data so should be ok. But might be good to do some tests @sssangha @ehavazli @hfattahi @yunjunz.

[2019-07-28 20:44] dbekaert commented on #64
@sssangha has added this, closing this issues.

[2019-07-28 20:44] #64 closed

[2019-07-28 20:45] dbekaert commented on #23
@sssangha not sure if this has been added on dev. No worries if it has been, just tracking to keep issues open or to close.

[2019-07-28 23:40] yunjunz commented on #81
The latest released version of aria-tools+mintpy workflow works for me with the SanFran dataset.

[2019-07-29 00:14] ehavazli commented on #81
I will be looking in to unwrapping error corrections I had and some GPS features this week but overall the process can be completed in my case.

[2019-07-30 15:05] dbekaert commented on #81
ok great, I will lease this open for a bit longer. If there are issues that needs to be fixed, lets track it here as well, so we can back-port from dev to v1.

**Currently open for back-porting:**
- bugfix for mask and dem being a pixel off:  https://github.com/aria-tools/ARIA-tools/pull/83#issue-302373418

[2019-07-31 00:04] rzinke commented on #71
I am also trying to install ARIA-tools and MintPy on the same machine, in different conda environments. To get the prep_aria.py script working, while keeping my ARIA-tools and MintPy environments intact, I am attempting to create a "hybrid" conda environment with both gdal 3 and h5py installed. However,

conda create -n Hybrid --file ~/tools/ARIA-tools/requirements_plus.txt --yes -c conda-forge

r

[2019-07-31 00:17] rzinke commented on #71
To follow up on the previous post, hdf5 v 1.10.5 was installed. However, when I run the prep_aria.py script it reports "No module named h5py". When I try conda install h5py, it reports conflicts with gdal 3, among other packages.

[2019-07-31 00:21] piyushrpt commented on #71
h5py and packages that require HDF5 > 1.10.4 cannot coexist for now. h5py-feedstock hasn't been updated and their evaluation of 1.10.5 is in progress.  I dont think GDAL 3 -> HDF5 1.10.4 is available. You will have to use different environments for these.

See: https://github.com/conda-forge/h5py-feedstock/issues/52

[2019-07-31 00:23] piyushrpt commented on #71
Alternately, you can try installing gdal3 and then h5py using pip using the HDF5 that GDAL provided you with.

[2019-07-31 00:48] rzinke commented on #71
Thanks @piyushrpt. Using pip install h5py looks like it worked! It appears it installed on top of gdal's hdf5 and they are compatible.

[2019-07-31 02:03] ehavazli commented on #71
@rzinke currently pip is working fine. I will update the requirements.txt when dependencies are consistent with each other (or not but will include appropriate recommendations).

[2019-08-01 15:08] dbekaert commented on #23
Has been added to the dev branch

[2019-08-01 15:08] #23 closed

[2019-08-02 02:34] dbekaert commented on #71
@yunjunz is there a way to specify directly a pip install in the requirements directly?
I did some searching and believe there is not.

[2019-08-02 02:36] dbekaert commented on #29
basemap has been replaced with cartopy. Closing this issue as requirement no longer conflicts

[2019-08-02 02:36] #29 closed

[2019-08-02 02:39] dbekaert commented on #71
Item 1 and 2 are closed. will await feedback to see if we can do pip directly from requirements alternatively will update the README to use pip after conda install of requirements.

[2019-08-02 03:15] ehavazli commented on #71
@dbekaert
Today I made tests by removing basemap and adding cartopy. It seems like everything else is in place for ARIA-tools. There were no conflicts (at least for today)

[2019-08-02 03:20] yunjunz commented on #71
@dbekaert not I am aware of.

[2019-08-02 15:07] dbekaert opened #94 "Add in python logging and error-reporting"
Agree on strategy which allows for logging and error passing when running codes in a more automated setting such as ARIA DS. i.e. make it clear what the cause is of an error rather than exist codes.

Can @pymonger @hookhua @piyushrpt @hfattahi chime in based on experience with ISCE3?

[2019-08-02 18:07] yunjunz commented on #71
@dbekaert it's doable using *.yml file and explained here:
https://github.com/CellProfiler/CellProfiler/wiki/Conda-Installation

[2019-08-02 22:01] dbekaert commented on #71
@yunjunz great, yeah that looks like a good way of doing it.

[2019-08-06 18:22] dbekaert commented on #29
Solution that works but no longer used:
[code]

 Defining the home and data directories at the processing location
[code]

loading the proj directories for GDAL and pyproj seperate as they are incompatible
Untill basemap is cought up with proj6 we will use a workaround.
We will swap to pyproj basemap proj version just before plotting.
[code]

[2019-08-06 18:25] piyushrpt commented on #27
Here is a full example from material we are putting together for UNAVCO short course. Looks like there could an issue with conda's gdal installation that recognizes nc with groups as HDF5 when using vsis3 - might be good to communicate this to ASF. This has to do with detection of netcdf_mem.h when building GDAL.

[code]

[2019-08-06 18:38] dbekaert commented on #27
Thanks @piyushrpt. Im tagging @asjohnston-asf and @fjmeyer and will bring up at next GRFN meeting for some advice as well.

[2019-08-06 21:57] piyushrpt commented on #27
Turns out this is related to them building conda packages on old  kernels:

userfaultfd support: no
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=55722

This is unlikely to change anytime soon as they plan to support older kernels.

Piyush

[2019-08-06 22:22] asjohnston-asf commented on #27
Thanks for the heads up.  A few random comments on this thread:

Much of the information on our web site under https://www.asf.alaska.edu/sar_datasets/sentinel-1-interferograms-beta/ is out of date.  For example, we retired all of our v1.x products when we upgraded to v2.x products, but all of our examples still refer to files that aren't in our archive anymore.  The "long term storage" sections a

[2019-08-06 22:29] asjohnston-asf commented on #27
Last month ASF also rolled our our new "ASF Data Search" app at https://search.asf.alaska.edu/ .  The old https://vertex.daac.asf.alaska.edu/ URL now redirects there.  We've made it much easier to search for GUNW products, just select "S1 InSAR (BETA)" from the Dataset pulldown.
![Untitled](https://user-images.githubusercontent.com/17994518/62581638-5d170a00-b856-11e9-9c3e-17a78460274e.png)

[2019-08-06 22:34] piyushrpt commented on #27
@asjohnston-asf Thanks for info on response having inbuilt json parsing. Could you point us to an example of using /vsicurl with the right environment variables? Is it just adding AWSKey etc to the URL itself?

[2019-08-06 22:44] asjohnston-asf commented on #27
[code]
Requires gdal >= v2.4.0.  Chunk size isn't strictly necessary, but I've found it improves performance when accessing larger files.

[2019-08-06 22:47] asjohnston-asf commented on #27
Same approach should work for *any* data hosted by ASF or EOSDIS, just need the netrc and cookie setup to deal with Earthdata Login.

[2019-08-06 22:49] piyushrpt commented on #27
Thanks @asjohnston-asf . This also works ... the userfaultfd issue persists. I have opened a ticket here: https://github.com/conda-forge/gdal-feedstock/issues/323

[code]

[2019-08-10 04:09] dbekaert commented on #71
this is now resolved

[2019-08-10 04:09] #71 closed, assigned to nobody

[2019-08-10 06:54] dbekaert commented on #81
notebooks tested and good to go.

[2019-08-10 06:54] #81 closed, assigned to nobody

[2019-08-13 15:54] dbekaert opened #105 "heat map generation of products"
Guidelines towards heat-map generation for ARIA products. Based on discussion with @bakerunavco

1) Generate a kmz either with **ariaDownload.py** or **SSARA**.
2) Use https://github.com/ngageoint/opensphere to load the kmz, then go to the dataset and click right to add heatmap.

this will be a frame-based heatmap, one way would be to run the ariaExtract.py program without options to generate merg

[2019-08-15 16:15] dbekaert opened #106 "unavco feedback"
**Unavco feedback**
@hfattahi @sssangha
- Class initialization takes significant amount of time for example stacks, part of this should be able to parallelize this
- Have progress bar as its unclear if something is progressing.

[2019-08-26 21:07] #8 closed, assigned to nobody

[2019-08-26 21:58] dbekaert opened #109 "tool to provide information on network isolated cluster"
Would be good to expand the functionality with a tool that can quickly check if there are  isolated cluster in the perpendicular baseline network, and perhaps colors the network based on clusters too.

should be possible to do this with graphs: e.g. https://networkx.github.io/documentation/stable/index.html

[2019-08-27 23:49] ehavazli commented on #106
I just created a pull request with the initial progress bar commit.

[2019-08-29 21:36] dbekaert commented on #106
@ehavazli looks great, merged the PR.

[2019-09-19 22:28] rzinke opened #118 "Downsampling large data sets"
Hello,
I am trying to use a large number of ARIA products (several thousand frames over ~15 degrees of latitude) to construct a time series through MintPy. I am running into an issue that when I invert the network of interferograms, processing fails with a Memory Error. The ideal solution would be to downsample the extracted ARIA products to a lower spatial resolution before entering the MintPy wo

[2019-09-19 22:40] dbekaert commented on #118
The TS program is a workflow which calls the ARIA tools in a modular fashion.
This means the downsampling option needs to be implemented at a lower level in the code (export product level). The downsampling should be expressed as a square resolution  in degree/seconds units such it is  GDAL compatibility. A danger will exist that users make the resolution finer than the source data which is someth

[2019-09-20 14:37] dbekaert commented on #118
Tagging in @sssangha to give you a few more pointers.

[2019-09-20 18:01] ehavazli commented on #118
Hi @rzinke ,

If you can load the data to mintpy (prep_aria.py works without failing) you can multi look the data before running smallbaselineApp.py.
try using:
[code]

[2019-09-20 18:10] rzinke commented on #118
Hi all,
Thanks for the thoughts and tips.
In terms of mulitlooking in MintPy itself, I tried using the multilook.py function after prep_aria and before smallbaselineApp. Yunjun and I worked out how to adapt this to our georeferenced data, and it worked on a small test data set. But multilook.py itself crashed with a Memory Error when I applied it to our full data set.

For now, I think the best (s

[2019-09-20 19:15] dbekaert commented on #118
@rzinke suggest to work on a branch and we can do testing on our end. Would be good to capture the proposed changes for review.

[2019-09-20 20:08] rzinke commented on #118
Yep, I will create a branch and push the results this afternoon. More then.

[2019-09-20 20:28] rzinke commented on #118
I do not think I have editing permission for aria-tools. I cannot push my new branch to the site, nor seem to create a new branch on the main github page.

[2019-09-20 21:31] dbekaert commented on #118
Let us know which branch you are developing on at your fork and we will pull to test. Final integration is done by issuing a PR from your branch to the dev. It gets merged after review and passing our tests.

[2019-09-20 22:02] rzinke commented on #118
Great. It's on the dev branch of my fork: https://github.com/rzinke/ARIA-tools
Pass the ariaTSsetup.py -r 0.0025 (9 arc seconds) or similar

[2019-10-24 09:39] miili opened #121 "Setuptools entrypoints instead of scripts."
Entry points to aria tools executables can be managed by distutils/setuptools,
`ariaExtract.py` or any other CLI will be placed into the correct `PATH` environment during installation.

Further the Python extension can be hidden, e.g. call `ariaExtract`.

https://setuptools.readthedocs.io/en/latest/setuptools.html#automatic-script-creation

[2020-01-07 18:19] bbuzzanga opened #125 "setup_tools produces incorrect path"
I'm installing on a linux machine with conda.
The shebang is not pointing to the correct python environment ;; except for the ariaTSsetup.py

For example, the **correct** first line in
`/home/bbuzz001/Miniconda3/envs/ARIA/lib/python3.7/bin/ariaTSsetup.py`

-  `#!/home/bbuzz001/Miniconda3/envs/ARIA/bin/python`

However the rest of the files (e.g. `.../ariaPlot.py`) have the _**incorrect**_ shebang:

[2020-01-07 21:24] dbekaert commented on #125
Would remove the files in both locations and then run the setup.py again.
This just to make sure its not a legacy installation.
e.g. if you did not activate the environment first before running setup.py.

[2020-01-08 02:10] bbuzzanga commented on #125
Thanks; I removed the files and had the same issue.
Reinstalling ARIA-tools entirely has fixed the problem though.
I think probably all I had to do was remove the `build` directory and rebuild using `setup.py`

[2020-01-08 16:23] #125 closed, assigned to nobody

[2020-01-08 16:35] bbuzzanga opened #126 "productPlot call to merged_productbbox changed behavior?"
Hi,
I've noticed`productPlot.py` no longer works for me, as it calls `merged_productbbox` with, I think, the wrong arguments.

`merged_productbbox` in `extractProduct.py` expects as the first two arguments "metadata_dict" and "product_data_dict"

In other programs, such as `tsSetup.py`, these are indeed the arguments passed.
However in `productPlot.py` the call is `merged_productbbox(standardprodu

[2020-01-09 16:48] bbuzzanga commented on #126
thanks @sssangha looks good

[2020-01-09 16:48] #126 closed, assigned to nobody

[2020-01-16 18:34] rzinke opened #129 "Unexpected marker ID when multilooking"
Hello, I have been experimenting with the multilooking feature. For my data set, when I set the multilook parameter to 3 and specify a bounding box, the ariaTSsetup.py routine appears to work through all the given products. However, when I try to apply the next step, MintPy's prep_aria.py, I get an error saying one of the files cannot be read. When I try to look at the extracted unwrapped interfer

[2020-01-16 18:41] ehavazli commented on #129
Hi @rzinke ,

Can you confirm the product is not corrupt, can you see the png of 20160903_20160717 in your unwrappedPhase folder?

[2020-01-16 18:49] rzinke commented on #129
Hi @ehavazli, the .png was generated and the image appears to be a valid, unwrapped interferogram.

[2020-01-16 19:07] ehavazli commented on #129
@rzinke, since you described it as a non-systematic error I am assuming it is an error related to the product. I would re-download that specific product and re-run ariaTSsetup.py again just to test.

However, if it is not a key product for timeseries (e.g. keeping network connectivity), I would just discard it.

[2020-01-16 19:16] rzinke commented on #129
Agreed.
I deleted and re-downloaded the products for that date, but the error still occurs.

I am continuing my data processing without that product, but I mostly wanted to put the word out there in case this issue is something more systematic. I'll send out the alert if I encounter it again.

[2020-01-16 19:24] ehavazli commented on #129
thanks for the feedback, I will look into it and try to reproduce the error.

[2020-01-16 19:29] sssangha commented on #129
@rzinke you had told me you also had this issue with a different pair (20160810_20160717). Just to clarify, are you having problem with both 20160810_20160717 and 20160903_20160717?

[2020-01-16 19:31] ehavazli commented on #118
I am closing this issue since multi-looking is now implemented in ARIA-tools.

[2020-01-16 19:31] #118 closed, assigned to nobody

[2020-01-16 19:36] sssangha commented on #129
@rzinke, both were able to work on my end. Could you confirm which branch you have checked out? Make sure it is up to date with the latest dev commit. I.e. go to your ARIA-tools conda folder and enter: "git rev-parse --short HEAD"

[2020-01-16 19:38] rzinke commented on #129
Oh okay, I see the issue... When I run prep_aria the error message reports 20160810_... was the last file to be successful.
The issue is with date pair 20160903_20160717
Apologies for the confusion

[2020-01-16 19:40] rzinke commented on #129
OK. The command returns: 60a05a1

I am using the main fork, dev branch. Git remote show origin returns: https://github.com/aria-tools/ARIA-tools.git
git branch > dev

[2020-01-16 19:43] sssangha commented on #129
Yeah looks like you checked out out the most recent version, but did you make sure to build/install it? Very strange, because I'm not getting that error nor do I recall ever seeing it.

[2020-01-16 19:45] ehavazli commented on #129
@rzinke this is what I get when I do gdalinfo on the extracted product

[code]

[2020-01-16 19:47] rzinke commented on #129
@sssangha, always good to check that it was reinstalled properly. To confirm, the date and time of items in my ARIA-tools bin folder match those of the download date, and I seem to remember reinstalling a few days ago.

@ehavazli and @sssangha, I will try running a few more tests as you have done.

[2020-01-16 21:59] rzinke commented on #129
Hi all. I have done a bit more investigation. For starters, these two commands should allow for replication of the error within a minute or two:
ariaDownload.py -t 41 -s 20160717 -e 20160903 -b '36.9 37.9 89.0 91.2'
ariaTSsetup.py -f 'products/*.nc' -w CroppedMultilooked -d download -b '36.9 37.9 89.0 91.2' -ml 3
and then $ gdalinfo CroppedMultilooked/unwrappedPhase/20160903_20160717 should show t

[2020-01-16 22:23] ehavazli commented on #129
@rzinke I followed your steps and produced the same error.

the fact that it doesn't arise when you change the bounding box makes me think that gdal error is due to the fact that the file is not properly extracted or written in the corners. it is probably because the standard products are not coregistered and may have (has in your case) slight difference at the edges.

I would recommend you going

[2020-01-16 22:53] sssangha commented on #129
@ehavazli @rzinke but then I don't understand why the other layers (e.g. amplitude, coherence) are downsampled just fine, but not the unw phase. Actually to be clear, all rasters are successfully downsampled, but the VRT just for the unw phase is corrupted.

I understand that this issue for this case is resolved by just adjusting the bbox, but I am concerned this may be an issue we will encounter

[2020-01-16 23:04] ehavazli commented on #129
this is what I get with gdalinfo on unwrapped phase VRT:
[code]

and this is what I get for coherence VRT:

[code]

The main difference is we don't extract the coherence as raster therefore the error message is not recorded in the VRT.

[2020-01-16 23:06] dbekaert commented on #129
Not sure as standard products are generated at a fixed grid using
pre-staged DEM. Spacing should be multiple but might have limitations at
machine precision rounding. Perhaps we should check impact of tap during
warping and downsampling. If we think gdal related could alsopost to gdal
mailing list. I jnderstand the full res file is fine and only issue of
downsampling?

On Thu, Jan 16, 2020 at 2:23

[2020-01-16 23:12] rzinke commented on #129
@dbekaert "I jnderstand the full res file is fine and only issue of
downsampling?"
Yes... Downsampling and bounding box specification, it seems.

[2020-01-17 00:17] sssangha commented on #129
Ok, so @ehavazli and I realized that this issue resulted from the "average" resampling algorithm specified for the unwrapped phase. All the other full-res files were resampled with "lanczos", and setting this resampling algorithm for the unwrapped phase too eliminates this bug. This is something we should raise to the gdal community as David suggested. I will issue a PR shortly.

However, we still

[2020-01-17 00:22] rzinke commented on #129
Nice work, @sssangha and @ehavazli. Thanks for your persistence.

[2020-01-17 18:46] dbekaert commented on #106
We now have added the parallelization for the class too.

[2020-01-17 18:46] #106 closed, assigned to ehavazli, sssangha

[2020-01-30 18:20] dbekaert commented on #21
integrated direct netcdf search

[2020-01-30 18:20] #21 closed

[2020-02-20 00:23] dbekaert opened #133 "2stage unwrapper"
We now have an implementation for the two stage unwrapper on the **2stage branch**, with a 2stage_unittest.py added in the unittest folder. Variable results observed so far, but would like to open for more testing to the team, @rzinke, @bbuzz31, @sssangha, @ehavazli. Given caveats start with smaller region that has issues, but would avoid a fully decorelated area too.

## Install
To get the code s

[2020-02-20 20:25] rzinke commented on #133
Hi @dbekaert, thanks for getting the 2stage unwrapper up and running. I have installed the components and I am testing it now...
For a baseline, I wanted to stitch my example data set with the "overlap" method. I used the command:

ariaExtract.py -w Overlap2015 -f "products2015/*.nc" -b '36.5 38.8 89.2 90.8' -d download -nt 8 -l "unwrappedPhase,coherence,amplitude" -sm overlap

But I get a strange

[2020-02-20 20:32] dbekaert commented on #133
@rzinke that is ok. The ERROR messages when making plots does not impact the result. The min and max are the same and the scale option in gdal translate to a png does not like that. The additional output is just for debug purposes, will eventually be removed.

How does the intermediate result to the final result change?

[2020-02-20 20:37] rzinke commented on #133
Hi @dbekaert, I understand about the PNG conversion (0-255) and the additional output for debugging. Thanks.

I am not sure I understand the question, "How does the intermediate result to the final result change?"

[2020-02-20 20:43] dbekaert commented on #133
You can directly run the -sm 2stage. Per details above, the overlap method is run prior to two stage minimization. The figure with intermediate would be overlap result, while the one without would be the two stage result.

[2020-02-20 20:46] rzinke commented on #133
When I run the 2stager I get the message:
Generating Connected Component polygons
...Done, loading polygons
outer valid
...Done
Traceback (most recent call last):
  File "/u/sar-r0/rzinke/python/miniconda3/envs/ARIA-tools/bin/ariaExtract.py", line 16, in <module>
    main(inps)
  File "/u/sar-r0/rzinke/python/miniconda3/envs/ARIA-tools/lib/python3.8/site-packages/ARIAtools/extractProduct.py", line

[2020-02-20 20:48] dbekaert commented on #133
Currently does not support a single product, would try to add in a few. It only found like 2 polygons. Will add that capability in at some point.  Realistically should not error out just pass on.

[2020-02-20 22:40] rzinke commented on #133
Okay, got it. I got an error "No module named pulp". I did conda install pulp, then had to rerun python3 setup.py build, install. Works now.

[2020-02-20 23:46] rzinke commented on #133
The 2stage unwrapper seems to be struggling in some places.
In the attached images, the top figure show the intermediate (overlap) ifgs...

![Intermediate](https://user-images.githubusercontent.com/48299159/74990346-e9a2a780-53f7-11ea-8af2-94a50e0ad303.png)

And the bottom shows the 2 stage ifgs

![2stage](https://user-images.githubusercontent.com/48299159/74990390-0c34c080-53f8-11ea-90b4-9dc13efc

[2020-02-21 02:03] rzinke commented on #133
It appears my image plotter does not always load images in the same order... In the above post, the image pairs for the overlap method are:
20151003_20150816_intermediate.vrt
20151120_20151027_intermediate.vrt
20151003_20150909_intermediate.vrt
20151214_20151027_intermediate.vrt
20151120_20151003_intermediate.vrt
20151027_20150909_intermediate.vrt
20151027_20151003_intermediate.vrt

And the image

[2020-02-21 02:47] dbekaert commented on #133
@rzinke  It does not look like you have many unwrapping euros to start of with. So not great to see the two stager to introduce some errors. Could you share the download and extract line for the failed products you are testing?

The minimization is done based on a small window of point. We might need to control it as being a more qualitative set of points.

[2020-02-21 03:23] dbekaert commented on #133
Requirements have pulp included.

[2020-02-25 15:56] dbekaert commented on #129
@rzinke Based on the discussion you had on GDAL forum it is anticipated behavior for the averaging to have a a pixel shift. The lanczos appeared to remain sharper than the averaging. Based on the two items i understand that lanczos was the recommended re-sampling method. If confirmed and implemented, we can close this ticket.

[2020-03-11 02:54] rzinke opened #135 "Misclosure computation"
HOW IT WORKS
The code works by reading in a list of triplets and their date pairs, and from those:
1. Formulate a list of viable triplet combinations (IJ, JK, IK)
2. Subtract the reference point from those interferograms
3. Compute the disagreement based on IJ+JK-IK
... continue through the list of triplets.

Both the misclosure values (positive or negative) and the absolute misclosure values (alw

[2020-03-25 02:45] dbekaert commented on #135
@bbuzz31 @ehavazli could you give it a try over your subset regions?

[2020-03-25 20:03] ehavazli commented on #135
Hi @rzinke,

Please consider the comments below. I wasn't able to run the code successfully so I can't really comment on the outputs or the workflow of the code. Please consider committing this piece of code to your branch and issue a pull request from there so we can discuss and work on the code using full github functionality.

Also  could you please clarify why we need a refX and refY to calcul

[2020-03-25 21:30] dbekaert commented on #135
@ehavazli There is no need to set a reference point when the interferograms
where generated from a coregistered stack.
For products that were generated pair-by-pair a reference would be needed.
However, could likely set it based on the average IFG too.

Agreed with on the idea of having this on a branch for testing and
integrated into set-up.py for rapid testing.

On Wed, 25 Mar 2020 at 13:04, eha

[2020-03-25 23:50] bbuzzanga commented on #135
Running on my MintPy stack seems to have worked nicely, thanks @rzinke !.
Some issues/suggestions:

- I also can't get a result using ARIA results. There is the Assertion error that @ehavazli mentioned. And I can't get it to accept more than one .vrt.
- I think it might be a good idea for it to read a stack (i.e. from `ariaTSsetup.py`).
- Perhaps the exclude can include a boolean in case of MintPy

[2020-03-26 22:03] dbekaert commented on #135
@rzinke could you also provide some insight on how you would use this information in your analysis?

I would think some relevant statistics would be:
e.g. using the miss-closure to estimate bias on the velocity and velocity uncertainty, e.g. by assuming no displacements and only mis-closure.
e.g. an overview on how the average misclosure is for e.g. 6, 12, 24 XXXX days of IFG combination. This wou

[2020-03-26 22:17] rzinke commented on #135
Hi all. Thanks for the helpful comments! These will improve the routine. I am modifying the code to incorporate several of them, and will move the code (and discussion) over to my fork of ARIA-tools in the next few hours.

[2020-04-05 14:38] CIoudy opened #136 "trying to execute gdal_calc.py returns "The system cannot find the path specified.""
everytime I try to execute: "`python gdal_calc.py -A "C:\Users\Username\GDAL\Python\unwrappedPhase\20190118_20190106.vrt" -B "C:\Users\Username\GDAL\Python\connectedComponents\20190118_20190106.vrt" --outfile "C:\Users\Username\GDAL\Python\results\20190118_20190106_defo" --calc='((A*(B>0))/(4*pi)*5.546576)' --format=ENVI --NoDataValue=0 --overwrite
`"
but running gdal_calc.py -h works.

I'm using

[2020-04-05 15:48] dbekaert commented on #136
I am wondering if this has to do with windows and path definition.
Can you show one of the paths in the vrt file as well?

On Sun, 5 Apr 2020 at 07:38, CIoudy <notifications@github.com> wrote:

[2020-04-05 16:10] CIoudy commented on #136
so do you want the system path variables?

[2020-04-05 17:09] dbekaert commented on #136
open the vrt file with a text reader and check the reported paths within
the file exist.
The vrt files are virtual files which point to other files on the system.

Also, did you process the files locally of did you copy them from somewhere
else?

On Sun, 5 Apr 2020 at 09:10, CIoudy <notifications@github.com> wrote:

[2020-04-05 17:12] CIoudy commented on #136
I've opened the file and this is what I see:

[code]

[2020-04-05 17:15] CIoudy commented on #136
also, I did process the files locally in a directory named "GDAL" in D:\, but I've copied all the files to C:\ because I saw something on a form talking about putting the files from D:\ to C:\ while researching the problem.

[2020-04-06 17:26] ehavazli commented on #136
@CIoudy @dbekaert

I just ran a test with GDAL 3.0.1 and it worked

[code]
I am not familiar with the windows handling of paths but the main difference I can see is the use of quotes in given paths.
Maybe removing the quotes from the paths can solve the problem.

[2020-04-06 17:31] CIoudy commented on #136
I downloaded an ubuntu virtual machine and I'm currently setting up anaconda and gdal to see if it works.
I tried changing the source code of "gdal_calc.py" and made it print "hello" before executing the main function but it still gave me the same results.

[2020-04-06 17:51] ehavazli commented on #136
Please try running the command below and see if that works. GDAL possibly reads input files before running the main function.

[code]

[2020-04-06 18:00] CIoudy commented on #136
Unfortunately it didn't solve it.

[2020-04-06 18:13] CIoudy commented on #136
Update: I removed the `--calc='((A*(B>0))/(4*pi)*5.546576)'` and executed without the Mysterious error.
But as soon as I add it back the Mysterious Error comes back.

[2020-04-06 18:17] CIoudy commented on #136
Update: I replaced the quotation marks from ' > " and it didn't give me the Mysterious error! but it gave me this: `AttributeError: 'NoneType' object has no attribute 'SetGeoTransform'`

[2020-04-06 18:51] CIoudy commented on #136
Update: I fixed it. I only changed the quotation marks from ' to " and changed the `outfile` to only `defo` and it worked!

[2020-04-06 18:51] #136 closed, assigned to nobody

[2020-04-07 23:30] yuankailiu opened #137 "Discontinuity in the azimuth angle (track-087)"
**Type:** Might be a Bug report
**About:** Extraction of imaging geometry layers: Discontinuity in the azimuth angle
**Tools**: ARIA-tools, MintPy

---

**Description of the problem**

After downloading the standard products from track-087 (ascending) in ARIA, I used MintPy to extract layers and prepared time-series analysis. [To load the ARIA interferograms into MintPy](https://nbviewer.jupyter.o

[2020-04-08 01:10] dbekaert commented on #137
Thanks for sharing, we will look into this. Azimuth angle should be vary smoothly.

[2020-04-12 22:45] dbekaert opened #138 "Support virtual file access"
Tracking in this issue ticket the discussion with changes needed to support virtual data access from ASF S3 bucket directly.

## ariaDownload.py - complete
~~Add option in ariaDownload.py to provide a list of where product patch wrt ASF S3.
Output should be able to be parsed into other aria*.py fucntions.~~ - **Complete**

## ARIAproduct.py - complete
~~Remove dependency on local netcdf reader. Fo

[2020-04-12 22:51] dbekaert commented on #133
@piyushrpt do you have any thoughts for improving the correction. e.g. perhaps coherence?

[2020-04-12 22:57] dbekaert commented on #27
Thanks for fixing this @piyushrpt.
Looks like this is now close: https://github.com/conda-forge/gdal-feedstock/issues/323#issue-477617939

Will work on capturing the changes needed to leverage this in aria-tools here: #138

[2020-04-13 18:20] rzinke opened #139 "ariaAOIassist suggestions"
I don't find the red highlighting of "invalid frames" very helpful, and it is often distracting. Perhaps we could remove this feature.

It would also be nice to have an option to exclude dates from the final outputs that remain in the original csv file, but that I intend to exclude. That way, I can have a clean estimate of the outputs.

Let me know if these are of interest to anyone else.

[2020-04-13 20:58] dbekaert commented on #139
Agreed on the red frames can be removed.

Perhaps more instructive would be to color individual date segments?
Shows more clearly on a date if there is a spatial gab?
Might not be as easy if we only have bbox center coordinates.

Including excldue dates would remvoe them from control plots. I think it works for user friendly-ness. For ARIA would recommend to eitehr grey-scale them as we then can s

[2020-04-13 21:22] rzinke commented on #139
_Agreed on the red frames can be removed._
I can make the modifications.

_Perhaps more instructive would be to color individual date segments? Shows more clearly on a date if there is a spatial gab? Might not be as easy if we only have bbox center coordinates._
Not sure exactly what you mean. Could you explain?

_Including excldue dates would remvoe them from control plots. I think it works for u

[2020-04-14 00:09] dbekaert commented on #139
so this if for a single date. if the date is broken into different spatial subset due to e.g. a missing frame then color-code in differnt colors. that will make it visually very apparent there is a gap, compared to all black markers.

Could grey them in the marker plot, and not generate a kmz for them?

[2020-04-14 00:35] rzinke commented on #139
Those sound like good updates. I will start work on them.

[2020-04-15 22:54] bbuzzanga commented on #138
#140  added an option in `ariaDownload.py` for returning urls to GUNW products at ASF that can be directly accessed via vsicurl

let me know if this isn't as expected

[2020-04-16 00:26] dbekaert commented on #27
@piyushrpt Im also getting h5 read. Do i need to increase the requirements in the file to make sure its capture as a netcdf. Running on Mac and Linux on the same issue.

[2020-04-16 03:51] dbekaert commented on #138
@bbuzz31 ariaDownload.py with url option works as expected.

Need to resolve #27 as conda build of GDAL recognized netcdf as h5 files for macos (and also linux in my case). However linux should be working.
However a test assuming h5 seems to work to do a translate of amplitude out of the file:
[code]

![test](https://user-images.githubusercontent.com/19240905/79412569-a7f72e80-7f5a-11ea-937b-7baed

[2020-04-16 04:28] dbekaert commented on #27
@piyushrpt @asjohnston-asf I am not able to get the GUNW products recognized as netcdf products on mac or linux using conda installed gdal.

I have opened an issue ticket on the gdal-feedstock channel: https://github.com/conda-forge/gdal-feedstock/issues/376

[2020-04-18 23:57] dbekaert commented on #27
This has now been fixed  in GDAL and should be returning the netcdf reader. See full discussion here: https://github.com/conda-forge/gdal-feedstock/issues/376#issuecomment-614409716

Next RC1 is planned for end of April, after which testing will happen. Once a new gdal version is released conda forge GDAL will pick up and we should be able to leverage directly.

@bbuzz31 do you have bandwidth for

[2020-04-19 21:50] bbuzzanga commented on #27
@dbekaert unfortunately the highest version of Linux I have access to is 4.15

[2020-04-20 20:07] dbekaert commented on #27
@bbuzz31  Tested this on opensarlabs server. Need to make a .netrc file and got succesfulle .ncdf reader being used:

[code]

[2020-04-22 00:14] dbekaert commented on #138
Adding support in ARIAProducts:

- Change the line to leverage a txt file rather than a file with pre-fix download. See https://github.com/aria-tools/ARIA-tools/blob/94e0c6f174d9b372cd503c966114213f29e639cf/tools/ARIAtools/ARIAProduct.py#L54

- Append during class init already:
[code]

- Add a check for 1 file to ensure the reader is being captured as netcdf. https://github.com/aria-tools/ARIA-too

[2020-04-22 00:23] dbekaert commented on #138
@sssangha and I testing this the virtual aspects manually in opensarlabs. with the above changes we should be able to do more testing @rzinke @ehavazli @bbuzz31

[2020-04-22 19:13] rzinke commented on #139
I have made the suggested modifications to the ariaAOIassist function. It now has improved filtering capabilities, including the ability to filter by dates. I also improved the functionality of highlighting dates for which coverage is incomplete.

To assist the user with drawing the precise AOI in Google Earth, I added the function to automatically exclude dates that do not fill the entire area fr

[2020-04-23 01:43] dbekaert commented on #138
# Successful validation of the VSI operations

## Setup for opensarlab testing of virtual data access.
1)	Clone the branch from @ssangha
[code]
**Note that this has now been all merged and integrated in the dev branch**

2)	Edit !/.bashrc and pre-pend the PYTHONPATH with that of the cloned directory
[code]
3)	Source the new .bashrs and verify the path is correctly
[code]

## Testing of code of vir

[2020-04-23 19:12] dbekaert commented on #137
@sssangha could you have a closer look into this. would be good to be fixed prior to the next release.

[2020-04-23 19:14] ehavazli commented on #137
@liuykai I looked into track 87 data set and found that there is a problem with the azimuth angle when stitched together. We are working on identifying the step that causes this problem.

[2020-04-23 19:15] dbekaert commented on #137
@liuykai @ehavazli  can you post the ariaTSprep command that was being used.

[2020-04-23 19:24] ehavazli commented on #137
[code]
I used ariaExtract.py to extract all the azimuth angle products because ariaTSsetup.py is extracting only the first date. Which looks like the image below

<img width="228" alt="image" src="https://user-images.githubusercontent.com/6526589/80140243-839fe100-855c-11ea-8d3e-ad1e46227935.png">

But there is also another case when the azimuth angle is just one value (as seen below):

<img width

[2020-04-23 19:31] dbekaert commented on #137
Could you in addition also provide which products that have been used. Did you do a bulk pull of all track 87 products?

[2020-04-23 19:33] dbekaert commented on #137
@ehavazli:
- are other extracted products do look ok, i.e. it is for two dates that there is a problem?
- I assume you did a bulk pull of all products on track 87?

[2020-04-23 19:34] ehavazli commented on #137
I downloaded all the products and all the azimuth angle files are one or the other you see in my previous message.

[2020-04-23 23:59] dbekaert commented on #137
# Simplification of the problem

## Single IFG with the problem:
[code]
** Output**
<details>
<img width="523" alt="Screen Shot 2020-04-23 at 2 43 13 PM" src="https://user-images.githubusercontent.com/19240905/80152573-c966a480-8570-11ea-9c88-6cc09f5a51ef.png">
</details>

## Investigating individual products:
statistical information for each product first band
Might be am internal product issue.

[2020-04-24 09:31] sssangha commented on #137
@dbekaert @ehavazli, I was able to duplicate this issue. Very strange that the other interpolated metadata fields (e.g. incidence angles) look fine and smoothly vary.

However, I've found that for the test case posed here with IFG "20151111_20150912", one of the frames "S1-GUNW-A-R-087-tops-20151111_20150912-153927-29028N_26970N-PP-0a7b-v2_0_2.nc" varies irregularly along azimuth:
<img width="1055

[2020-04-24 15:02] ehavazli commented on #137
@sssangha Thank you for looking into the details. It looks like azimuth angle may be corrupted rather than the whole product. I generated time series and the phase or displacements don't show this jump. The problem is most likely with the azimuth angle layer only.

[2020-04-24 22:20] dbekaert commented on #137
@ehavazli @liuykai

As confirmed by @sssangha this is not an ARIA-tools bug that is introducing the artifact. But indicative of a bug in the meta-data cube generation during production. Which seems to be very consistent for that location. So far we have not encountered this in other products. We should have a closer look at the meta-data cube generation, as that is what is leveraged in production.

[2020-04-24 22:25] ehavazli commented on #137
@dbekaert @liuykai

azimuth angle problem doesn't affect the initial time series processing or results.

[2020-04-24 22:28] yuankailiu commented on #137
@dbekaert @ehavazli
I see. Thanks a lot. You are right, the azimuth angle issue doesn't have influences on the time-series results. I will keep it like this as for now. If I really do care about the azimuth angle in a later stage, I will interpolate the azimuth angle to remove the jump or just use a uniform value.

[2020-04-24 22:28] dbekaert commented on #137
@ehavazli is right wrt time-series analysis.

Although, relevant if you want to do comparison with GPS or for modelling, where the azimuth angles is used for computing conversion factors from ENU to LOS.

[2020-04-24 22:29] dbekaert commented on #137
@liuykai, thanks for reporting this. We need this sort of feedback to improve our products.

[2020-04-24 22:31] yuankailiu commented on #137
@dbekaert @ehavazli @sssangha
thank you all for testing.

[2020-04-24 23:23] dbekaert commented on #27
Closing this issue ticket now S3 support has been integrated.
Thank you all for the discussion and contributions!

[2020-04-24 23:23] #27 closed

[2020-04-24 23:26] dbekaert commented on #138
README file has been updated with S3 support information.
Support has been included in the dev branch for S3 virtual data access.
Thank you all for the discussion and contributions.
This has been a big milestone!

[2020-04-24 23:26] #138 closed, assigned to sssangha, bbuzzanga

[2020-04-25 02:08] yunjunz opened #146 "TSsetup output file/dir structure"
There are quite some folders at the root level after `ariaTSsetup.py`, as shown [here](https://mintpy.readthedocs.io/en/latest/dir_structure/#aria_from_aria-tools), these can be distracting sometimes. It would be nice to have file/dir structure similar to the output of ISCE stack processor. Maybe you want to consider that before cutting for the next release?

Below is my suggestion using the San F

[2020-04-25 17:01] dbekaert opened #147 "Unittests excecuted during circleCI testing"
# unit-test upon circleCI excecution

Found that the cutting of a new release has been challenging.
We should add a set of basic unit test that gets executed with circleCI
See here for an example done by @leiyangleon for the RAiDER package
- https://github.com/leiyangleon/RAiDER/blob/dev/.circleci/config.yml.
- https://github.com/leiyangleon/RAiDER/tree/dev/test

We started in the past with a cric

[2020-04-25 20:01] rzinke opened #148 "Ensuring raster sizes are the same"
I have been reprocessing some data and I ran into an error related to the size of the rasters from ariaExtract. Specifically, when I run:
ariaExtract.py -w Extracted -f "products/*.nc" -d download -m download -croptounion -l all

I get the error:
Generating: bPerpendicular - [>                                                 ]Traceback (most recent call last):
  File "/u/sar-r0/rzinke/python/minic

[2020-04-25 20:04] rzinke opened #149 "Ionosphere included in "all" layers"
When I use ariaExtract and specify the layers as "all" I get an error that the ionosphere layer is not detected. This makes sense since no ionospheric corrections were made. Should the ionosphere layer be included as a standard layer in the list of "all" layers?

[2020-04-25 20:13] sssangha commented on #149
@rzinke, I had fixed this in my latest PR #145. Specifically, I removed the hardcoded ionospheric layer key as it doesn't exist in the current standard product versions.

[2020-04-25 20:15] sssangha commented on #148
@rzinke, hmm strange, I thought I had resolved this inconsistency a while back. Which revision is this though? Can you try again with my latest PR #145?

If this issue persists with the latest PR, could you provide me with a list of products you had used so I can try to duplicate it?

[2020-04-25 20:29] EJFielding commented on #148
Nicola was having some similar trouble a few weeks ago when he tried to use a small bounding box. It worked fine when he used a bigger box. I was not sure if it was an ARIA-tools bug or pilot error. I will ask him to try that again when this is merged in to the main version. I think it is a little complicated to explain how he could run the PR version.

[2020-04-25 20:51] dbekaert commented on #148
The only difference is to clone from the PR instead of the dev branch.
The install procedure remains the same.

On Sat, 25 Apr 2020 at 13:29, Eric Fielding <notifications@github.com>
wrote:

[2020-04-25 22:03] dbekaert commented on #146
@yunjunz I think its a nice to have, but not as urgent given the code works as it.
We are trying to cut a stable release ASAP.
Can be considered for a future release.

[2020-04-25 22:04] #129 closed, assigned to nobody

[2020-04-25 22:06] yunjunz commented on #146
I agree.

[2020-04-25 22:09] sssangha commented on #147
@yunjunz I am trying to implement unit-tests for "prep_aria.py" as so:
```prep_aria.py -d ../DEM/SRTM_3arcsec.dem -i ../incidenceAngle/20151111_20150912.vrt -a ../azimuthAngle/20151111_20150912.vrt -s ../stack```

But I encounter the following error message:
[code]

Can you please advice me here? I think I just may not be calling "prep_aria.py" appropriately.

[2020-04-25 22:36] yunjunz commented on #147
Hi @sssangha, I guess this is a bug we introduced during the last update. Could you try to change [prep_aria.py#L125](https://github.com/insarlab/MintPy/blob/master/mintpy/prep_aria.py#L125) from:

[code]

to

[code]

[2020-04-25 23:15] sssangha commented on #147
@yunjunz thanks, this works now!

I will have to change the part where the nodata values are parsed as it tries to get these values from the second IFG in the stack.

E.g. since we only pass one IFG in these unit tests, it errors out when trying to index "dsUnw.GetFileList()[2]". This is fixed when I change this to "dsUnw.GetFileList()[-1]".

I will issue a PR to address this.

Thanks again!

[2020-04-25 23:29] yunjunz commented on #147
Hi @bbuzz31, I randomly chose `2` instead of `0` or `-1` in https://github.com/insarlab/MintPy/pull/155, apparently for no reason. Your fix sounds good to me!

[2020-04-26 03:06] dbekaert commented on #147
@yunjunz @sssangha ok great, the circleCI test pass through till the last test. That should pass as well once the PR is updated https://github.com/insarlab/MintPy/pull/329

Closing this issue.

[2020-04-26 03:06] #147 closed, assigned to ehavazli, sssangha, bbuzzanga, dbekaert

[2020-04-26 03:07] dbekaert commented on #121
Not sure i fully understand what you mean.
Could you provide some example or help with a PR?

[2020-04-26 16:32] dbekaert commented on #149
@rzinke this should have been resolved in the pre-release of v1.1.
Can you give it a go. Currently 1.1 is the same as the dev branch.

[2020-04-27 23:05] rzinke commented on #149
This worked with the most recent updates: The ionosphere error is gone. Thanks.

[2020-04-27 23:17] dbekaert commented on #149
thanks for confirming. closing the issue as its solved based with all the fixes under version 1.1

[2020-04-27 23:17] #149 closed, assigned to nobody

[2020-04-27 23:17] #137 closed, assigned to sssangha

[2020-04-27 23:20] dbekaert commented on #94
Lack of error transparency has always been a "sore" point in SDS development and operational scalability. We are happy to learn and support this for the SDS, but would help to get some guidance or examples.

@hookhua @pymonger can you provide some helpful suggestions?

[2020-04-27 23:29] rzinke commented on #148
Hi @sssangha, I have installed the sss_bugfixes version of ARIA-tools and am rerunning some of the test patches. Track 41 works fine, but track 121 is throwing an unexpected error. Have you encountered anything similar?

For the command:
ariaExtract.py -f "/u/sar-r2/rzinke/Tibet/Track121/AllProducts/*2017*.nc" -d download -m download -l all -nt 8 -w T121 -croptounion

I get the error:
All (314) in

[2020-04-27 23:37] dbekaert commented on #148
@rzinke would recommend to test wrt the dev branch as there are no open PR from @sssangha  at the moment which are note yet merge. To my knowledge this issue has also not been fixed on the dev branch either, nor release 1.1, but we know how to fix it.

Not sure if you missed a wild-card in your command.

[2020-04-27 23:42] rzinke commented on #148
I copied the wrong command, I had been running "/u/sar-r2/rzinke/Tibet/Track121/AllProducts/*2017*.nc" with wildcards.

Switching to branch dev and retesting.

[2020-04-27 23:56] dbekaert commented on #148
I have seen something like this if one of the files got corrupted or if i was running from a non-cleaned directory.

[2020-04-28 00:33] sssangha commented on #148
@rzinke, yes I'd recommend to test in a clean directory as @dbekaert said. In case the products themselves were corrupted (i.e. the download had been interrupted), I'd save some time and just redownload a small subset in time and run a test on that.

[2020-04-28 06:48] rzinke commented on #148
Thanks for the suggestions. Re-running after clearing the old directory seems to have solved the error "...AttributeError: 'NoneType' object has no attribute 'GetLayerByIndex'"

However, I am still receiving the error I first reported pertaining to the incorrect raster size, i.e.,
Generating: bPerpendicular - [>                                                 ]Traceback (most recent call last):

[2020-04-29 23:17] sssangha commented on #148
@EJFielding, I have addressed this issue now in the latest PR #156, so I'd suggest you and/or Nicola take a look.

[2020-05-01 01:39] nicodalse opened #157 "Can't broadcast (1260, 1080) -> (864, 444)"
I encountered this error with 2 different computers and 2 different sizes.
(I have the PR #156 version)
Before I used:

`ariaTSsetup.py -f 'products/S1*.nc' -l 'all' -nt 'all' -b '39.45 40.5 -124.1 -123.2' -d Download -m Download`

Then when I try to use this command:

`$ prep_aria.py -w mintpy -s stack/ -d DEM/SRTM_3arcsec.dem -i incidenceAngle/20150617_20150524.vrt -a azimuthAngle/20150617_20150

[2020-05-06 00:37] dbekaert commented on #157
@nicodalse can you provide an example for us to replicate?
e.g. which files should we download to test the ariaTSsetup upon?
Ideally not a full time-series of files but a subset to illustrate the problem.

[2020-05-06 00:39] dbekaert commented on #148
Closing this ticket as it is resolved for @rzinke . However need to confirm that #157 is resolved too.

[2020-05-06 00:39] #148 closed, assigned to nobody

[2020-05-06 00:40] dbekaert commented on #135
@rzinke not sure this is still active and if you want to integrate into the repo?

[2020-05-06 01:06] rzinke commented on #135
Yes, still active and I have some modifications in mind. I will make the modifications next week and resubmit the pull request.

[2020-05-06 04:30] nicodalse commented on #157
@dbekaert Yes! Thanks for your reply.
I used the Track 35a with the following command:

`ariaDownload.py --track 035 --bbox "39.3 40.7 -124.15 -123.0" -o download`

then I worked on a smaller box:

`ariaTSsetup.py -f 'products/S1*.nc' -l 'all' -nt 'all' -b '39.45 40.5 -124.1 -123.2' -d Download -m Download`

then:

`$ prep_aria.py -w mintpy -s stack/ -d DEM/SRTM_3arcsec.dem -i incidenceAngle/20150

[2020-05-06 13:08] totaibi01 opened #161 "Following up - Rejected Scenes of track 14"
Hello everyone,

Following up the issue posted earlier (Rejected Scenes - Track 14 #29) and now closed. I re-downloaded the products and I faced the same problem (rejected scenes). Please find my commands below:
ariaDownload.py --track 14 --bbox "23 26 39.2 40.2" -o download
ariaTSsetup.py -f 'products/*.nc' -b '23 26 39.2 40.2' --mask Download

Any advise?

[2020-05-06 21:31] dbekaert commented on #161
@totaibi01 confirm something is happening. Tagging in the team for feedback.

# rejected products
I see there are quite some duplicated products (generated more than once in the system) and a few with a gap (spatial gap of ifg). Any product without a gap that falls within the bbox is allowed to pass. => Expected behaviour

# bounding box and product coverage
- Your bounding box defines the final g

[2020-05-09 02:36] sssangha commented on #161
@dbekaert @totaibi01 refer to PR #164, which now cleans up these series of warning messages. There was a bug regarding the interferogram count, however aside from that there were no functional issues with the code. I.e. it was behaving as intended. The duplicated products were correctly identified.

So by default, when you provide a bbox without a minimum threshold argument, the code passed the co

[2020-05-09 03:18] dbekaert commented on #161
@sssangha thanks for confirming.

[2020-05-10 02:21] totaibi01 commented on #161
Thanks @dbekaert and @sssangha for your support.

I re-done the whole analysis two times, one based on your recommendation and the changed my bbox coordinates for the other to be within the track (to avoid the minimum overlap function), but unfortunately I got the same error in both ways.

Here are the details:
1)
ariaDownload.py --track 14 --bbox "23 26 39.2 40.2" -o download
ariaTSsetup.py -f 'p

[2020-05-10 06:00] sssangha commented on #161
@totaibi01 it looks like you did not pull in the most recent commit because you are still getting an erroneous tally of interferograms, amongst other minor changes to the print statements. But again, these were just changes made to the print statements. I.e. the code already was appropriately sorting/merging/downselecting products.

Furthermore, in regards to your second test, if you don't define

[2020-05-10 09:47] totaibi01 commented on #161
That is clear. Thank you very much @sssangha

[2020-05-10 09:47] #161 closed, assigned to sssangha, bbuzzanga, rzinke

[2020-05-11 04:35] cheryltwj opened #165 "Rounding/ float error when doing interpolation to extract incidence angle"
Hi developers, I encountered this error when running ARIA Tools for standard displacement products over Kuala Lumpur, during the extraction of incidence angle for the first interferogram:
[code]

DEM was by default downloaded via ARIA Tools (did not specify my own). I checked that gdalinfo shows consistent metadata between the DEM and interferograms. The error seems related to the interpolation of

[2020-05-11 05:59] sssangha commented on #165
@cheryltwj it looks like your commit is slightly outdated. One of the successive commits actually made some improvements to the interpolation procedure.

So try commit cc947e3, the latest commit as of this writing.

[2020-05-11 08:17] cheryltwj commented on #165
Thanks @sssangha! The latest commit https://github.com/aria-tools/ARIA-tools/commit/cc947e3697f5b016aa15aa3f14d5a71196c97207 did resolve the issue.

[2020-05-11 11:47] cheryltwj commented on #165
@sssangha Sorry, I just noticed this after running MintPy with the ARIA Tools outputs generated with this latest commit:

In the incidenceAngle, lookAngle and azimuthAngle folders, the sizes of the data file and its corresponding .vrt file do not match. For example data file of incidenceAngle:
[code]
And corresponding .vrt file for incidenceAngle:
[code]

I then get an error running prep_aria.py o

[2020-05-11 17:18] sssangha commented on #165
@cheryltwj yes, I realized in the last commit I had forgotten to make sure the VRT files were updated after the extracted rasters were extracted/interpolated.

This is now addressed in my latest PR #166, so please try that.

[2020-05-13 13:32] dbekaert commented on #94
exit code 0: nominal
exit code < 0:  serious errors
exist code > 0: less serious runtime issues

have clear mappings of code to PGE-specific meanings allows the broader pipeline to better handle error handling. For Python, propagate exceptions so that main() can catch it and output specific information and appropriate exit codes. This allows wrappers invoking PGE code to clearly see issues that ar

[2020-05-14 13:03] cheryltwj commented on #165
@sssangha Thanks for the fix! It works ok, this time I've ran ARIA Tools and MintPy from start to end without error.

[2020-05-14 13:19] dbekaert commented on #165
Thanks @sssangha and @cheryltwj for looking into this

[2020-05-14 13:19] #165 closed, assigned to nobody

[2020-05-14 13:20] dbekaert commented on #157
@sssangha made some more fixes on this issue that have been merged into dev.

[2020-05-14 13:21] dbekaert commented on #139
@rzinke thanks for the contribution. This was merged so will close ticket.

[2020-05-14 13:21] #139 closed, assigned to nobody

[2020-05-14 13:21] #121 closed, assigned to nobody

[2020-05-14 13:21] #109 closed, assigned to bbuzzanga

[2020-05-14 13:22] #105 closed, assigned to nobody

[2020-05-30 00:23] sssangha commented on #157
@nicodalse I believe that this issue has been addressed. Please confirm by re-running your stack.

As a quick test, you may run this on just one pair. E.g. ```ariaTSsetup.py -f 'products/S1*.nc' -l 'all' -nt 'all' -b '39.45 40.5 -124.1 -123.2' -d Download -m Download```

[2020-05-30 05:06] nicodalse commented on #157
@sssangha Thank you very much, unfortunately after that command I found the same problem at the next step:
[code]
(I've installed last PR and I also did a new Conda environment)

[2020-05-30 17:36] bbuzzanga commented on #157
Hi Nicole,

I haven’t tried to reproduce your specific error, but I do notice that you’re using an old version of MintPy (the -w option is no more).
It’s unlikely that this will solve the problem but shouldn’t take long to fix.

- Brett

[2020-06-05 18:51] dbekaert commented on #135
PR was merged documentation was added. Will close this for now. Thanks @rzinke

[2020-06-05 18:51] #135 closed, assigned to ehavazli, bbuzzanga

[2020-06-07 05:26] nicodalse commented on #157
Hi Brett,

Thanks for the tip, but the update doesn't fix the error. Now the command to reproduce it, is:
`$ prep_aria.py -s stack/ -d DEM/SRTM_3arcsec.dem -i incidenceAngle/20150617_20150524.vrt -a azimuthAngle/20150617_20150524.vrt --water-mask mask/watermask.msk`

[2020-06-08 04:15] dbekaert opened #172 "[BUG] AOIassist script"
**Describe the bug**
Error for running AOIassist script.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
[code]

2. Command used
[code]
3. Error Output
[code]

[2020-06-08 22:22] ehavazli commented on #157
Hi @nicodalse ,

I wasn't able to reproduce your error. I used the commands you posted:

[code]
I would recommend deleting all the folders ariaTSsetup.py creates under your work directory and rerunning it (including specifically the DEM considering the fact that the error is thrown when writing the height information to geometryGeo.h5).

Before going forward with the prep_aria.py, I recommend you

[2020-06-08 23:23] dbekaert opened #173 "ALOS-2 standard product support"
Following changes are needed:

1) update the **rdrmetadata_dict** to change based on sensor in filename
- wavelength, missionID, slantRangeSpacing, slantRangeEnd, slantRangeStart, sceneLength
https://github.com/aria-tools/ARIA-tools/blob/f2b0e9df34e9c979645c656513a8960b4b9f16b8/tools/ARIAtools/ARIAProduct.py#L253

- modified the extraction for the IFG dates, UTC time based on `-` separator, not on

[2020-06-09 03:36] nicodalse commented on #157
Hi @ehavazli ,

Thank you very much, you solved my problem. You are right, you wasn't able to reproduce my problem because you should run before:
`ariaTSsetup.py -f 'products/S1*.nc' -l 'all' -nt 'all' -b 'different coordinates' -d Download -m Download`
I simply ran again the command but in a new folder and everything gone right. I thought the DEM's files and the geometryGeo.h5 they would be overw

[2020-06-09 03:43] #157 closed, assigned to sssangha

[2020-06-20 01:27] dbekaert opened #177 "[BUG] circleCI failure for product download"
**Describe the bug**
Product download fails due to passing of credentials needed.

*What to do?**
1) update ARIA-download to be able to pass through credential to the ASF API. e.g. check here https://asf.alaska.edu/api/ or reach out to ASF help for guidance.
2) Update circleCI product downloads to use the aria-download tool with credentials passed.
For passing of credential, use the circleCi envir

[2020-06-20 01:29] dbekaert commented on #173
Compatibility enhanced under PR #176

[2020-06-20 01:31] dbekaert opened #178 "Stitching capability for ionospheric correction layers"
Current ALOS-2 stitching is set to be a mosaicking of multiple ionospheric layers.

[2020-06-20 01:32] #173 closed, assigned to sssangha, dbekaert

[2020-07-01 04:53] EJFielding opened #180 "Vector files of product bounding box are not true shapefiles"
**Describe the bug**
I opened two of the productBoundingBox “.shp” files extracted by `ariaExtract.py`, and QGIS says it is not a Shapefile but GeoJSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
2. ariaExtract.py -f products/S1-GUNW-A-R-107-tops-20200625_20200619-003043-16794N_15045N-RR-35f2-v2_0_3.nc
[code]
**Expected behavior**
The `productBoundingBox/productBoundingBox.shp`

[2020-07-01 17:22] bbuzzanga commented on #180
I have also been tricked up by the extension and agree it should be `.json.` @sssangha  do you have a particular reason for adopting the `.shp`?

@EJFielding could you let us know what software failed to read the `productBoundingBox` files correctly? My QGIS v3.10.4 imports them correctly as is.

[2020-07-01 17:40] EJFielding commented on #180
I was working on uploading the specially processed ARIA standard coseismic products for the June 2020 Oaxaca earthquake to the Harvard Dataverse [repository.](https://dataverse.harvard.edu/) It used the file extension and got confused.

[2020-07-01 17:53] EJFielding commented on #180
I don't know if anybody has tried the ESRI ArcGIS software. I suspect it may be more strict.

[2020-07-01 19:17] dbekaert commented on #180
We should make it technically correct and just change `.shp` to `.json`; and update the code to load `.json`

Optionally, we could either provide documentation or also generate at the same time the shape-file for it, the latter will cause clutter and 6 files per product to be generated. Personally given its a one-liner for gdal, we put it in documentation.
```ogr2ogr -f "ESRI Shapefile" destinatio

[2020-07-01 19:30] EJFielding commented on #180
Yes, changing the file name to `.json` would be great. Adding that one-liner for GDAL to convert to true ESRI Shapefile format makes perfect sense.

[2020-07-01 20:16] sssangha commented on #180
@EJFielding I too was unable to emulate this issue. I'm able to load the shapefile just fine in QGIS 3.10.6.
<img width="698" alt="Screen Shot 2020-07-01 at 12 04 28 PM" src="https://user-images.githubusercontent.com/13227405/86281921-24310380-bb93-11ea-8ce7-f5a9aa1d26fa.png">

[2020-07-01 20:17] sssangha commented on #180
Am working on an update now. Will push shortly

[2020-07-01 20:19] EJFielding commented on #180
Yes, QGIS is very lenient and has no trouble. Other software is more strict.

[2020-07-01 20:38] sssangha commented on #180
Ok I issued a PR to change all shapefile extensions to '.json'. As I said there, we will have to make sure to update the notebooks to be consistent with this convention and also add in the documentation concerning the one-liner conversion of the shapefile for the user's reference.

I agree adding in the shapefile with the json files through ARIA-tools will lead to too much clutter.

[2020-07-02 19:47] dbekaert commented on #172
@rzinke running in some other errors when enabling the approximate AOI option.
AttributeError: 'GeometryCollection' object has no attribute 'exterior'

[2020-07-02 23:44] bbuzzanga opened #182 "Recent bug introduced"
**Describe the bug**
Hi everyone. I'm rerunning an old analysis (last run about a month ago), that now fails. If the bug isn't immediately obvious @sssangha  I can do some more detective work to track down which commit introduces it.

**To Reproduce**
2. Command used
`ariaTSsetup.py -f '/Volumes/BB_4TB/data/VLM/Sentinel1/track_004/StandardProducts/products/S1*.nc' -b '36.75 37.225 -76.655 -75.928'

[2020-07-03 20:35] rzinke commented on #172
Hi @dbekaert, I tracked down the source of the problem. It is not a bug, but stems from the fact that not all the acquisition epochs cover the same area. Notice how the first two dates of acquisition do not share a common extent, therefore, the program does not know what AOI you want to construct.

I made some modifications so that the routines now automatically exclude epochs for which the spatia

[2020-07-09 01:04] EJFielding opened #185 "Add compatibility to GMT grid files"
**Describe the bug**
Output files have unequal spacing and inconsistent geotransform information.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
`wget https://aria-share.jpl.nasa.gov/20200623_Oaxaca_Mexico_EQ/Displacements/S1-GUNW_COSEISMIC-A-R-107-tops-20200625_20200619-003043-16794N_15045N-RR-35f2-v2_0_3.nc`
2. Command used
[code]
3. Error Output
[code]
**Expected behavior**
Ther

[2020-07-09 01:40] ehavazli commented on #185
hello @EJFielding,

I wasn't able to reproduce your error because (I think) there are some inconsistencies in the file names you gave in your commands. Also I have GMT6 but the grdlandmask throws the error due to -R not being a valid format:
[code]

However, I think you can define the final product output format as GSBG in gdal which is the grd format I successfully use with gdal and GMT. I am lea

[2020-07-09 01:42] EJFielding commented on #185
I have not heard of GSBG format before.

[2020-07-09 01:44] ehavazli commented on #185
Golden Software Binary Grid

https://gdal.org/drivers/raster/gsbg.html

[2020-07-09 01:47] EJFielding commented on #185
Thanks.

It is also possible to extract the full-resolution layers directly from the original ARIA NetCDF files with:
[code]
This keeps the original exact 3-arcsecond spacing.

[2020-07-09 04:06] EJFielding commented on #185
Here is the info about the GMT grid created directly with grdconvert:
[code]
It has the original 3-arcsecond spacing and spatial extent of the ARIA product. Somewhere in `ariaExtract.py` the full-resolution layers are resampled and get inconsistent extent and spacing.

[2020-07-09 15:22] #177 closed, assigned to sssangha, bbuzzanga

[2020-07-09 15:23] dbekaert commented on #182
@sssangha Can you move the print statement on the correction:
- under the verbose option?
- limit the number of decimal digits.
- add a unit to it.

[2020-07-09 18:29] sssangha commented on #182
@dbekaert Ok I limited the decimal digits and passed the units, however shouldn't such warnings always be printed for transparency? This seems to be the convention for our code (e.g. see line 773 of ```extractProduct.py```). What do you think?

[2020-07-09 20:17] dbekaert commented on #182
@sssangha we should migrate to a proper logging function for being better suitable for integration into SDS like systems, but we can do that separate.

[2020-07-09 20:19] dbekaert commented on #182
@bbuzz31 this should be addressed in the new PR

[2020-07-09 23:18] bbuzzanga commented on #182
Fixed with https://github.com/aria-tools/ARIA-tools/pull/181

[2020-07-09 23:18] #182 closed, assigned to sssangha

[2020-07-10 01:08] dbekaert commented on #185
@EJFielding @ehavazli  Would be happy to welcome an example notebook on how to make a GMT6 figure:

e.g. how to plot up an unwrapped IFG in cm units in GMT with a color figure and scalebar.
e.g. how to plot up a wrapped IFG in rad with a colorbar and scale bar

The Hawaii IFG we use for the extract notebook would be well suitable example.
it already captures how to download the product, how to sti

[2020-07-10 01:18] #180 closed, assigned to sssangha, dbekaert, rzinke

[2020-07-10 01:18] dbekaert commented on #172
@rzinke PR merged

[2020-07-10 01:34] EJFielding commented on #185
@dbekaert I can help with a notebook on GMT plotting. We still need to fix the `ariaExtract.py` output. Did you mean using the `gmt grdconvert` command to make GMT files directly and then plotting those? When I use `gmt grdconvert` on the GUNW_COSEISMIC pair, I get a grid that is 3173 by 2101, but the `ariaExtract` output is 3069 by 2081, so the size changes somewhat. That means that I can't use t

[2020-07-10 02:05] sssangha commented on #185
@EJFielding it would be best to use the outputs of ```ariaExtract.py``` directly and plot through GMT, making sure to specify the GSBG format with the ```-of``` argument as Emre suggested so you can directly leverage the outputs of ```ariaExtract.py```. Makes sense?

[2020-07-10 02:35] EJFielding commented on #185
@sssangha Yes, the GSBG format helps avoid an extra step of running `gdal_translate` to make a file that GMT can read, but it does not fix the problem that the pixel spacings and image limits are not quite correct, so GMT refuses to work with the files from `ariaExtract.py`.

[2020-07-10 03:01] EJFielding commented on #185
I tried using the -of GSBG in the `ariaExtract.py` and now I am getting errors:
[code]
I verified that it works with `ariaExtract.py -f "products/S1-GUNW_COSEISMIC-A-R-107-tops-20200625_20200619-003043-16794N_15045N-RR-35f2-v2_0_3.nc" -l all -d download -w products -m download --outputFormat ENVI`, which is the default, but with `ariaExtract.py -f "products/S1-GUNW_COSEISMIC-A-R-107-tops-20200625_

[2020-07-10 19:18] sssangha commented on #185
@EJFielding I was unable to duplicate this error:
[code]

We did push a series of commits, some of which addressed minor issues with the metadata fields, so could you please try to update to the latest release and relaunch? Thanks!

[2020-07-10 19:23] EJFielding commented on #185
@sssangha I did an update last night and ran it again with the same result. It seems to be a problem with the masking. I notice that you did not include the masking flag. This is what I used `ariaExtract.py -f "products/S1-GUNW_COSEISMIC-A-R-107-tops-20200625_20200619-003043-16794N_15045N-RR-35f2-v2_0_3.nc" -l all -d download -w GSBG -m download --outputFormat GSBG`
The same command with the outpu

[2020-07-10 20:16] sssangha commented on #185
@EJFielding very strange, looks like a numpy issue. The PNG previews indeed look bad, but the phase fields in the actual rasters are fine. But the problems seems to be that with the GSBG format, for some reason the masked areas are inconsistently set to infinity (see navy blue values in the attached image), which is what is raising this warning. I can come up with a bandage solution to simply repl

[2020-07-10 20:43] EJFielding commented on #185
@sssangha Yes, you are right. In fact, there are areas of positive and negative infinity in the ocean, which gives that strange pattern with autoscaling.

[2020-07-10 22:06] sssangha commented on #185
@EJFielding thanks for helping me hash out what I wouldn't necessarily call a bug per se, but an oversight.

It seems for some data formats the nodata value for the mask file is set to Inf/-Inf. I now make sure to always define the nodata value as 0 for maskfiles. Please test out the PR I just posted.

[2020-07-12 03:25] EJFielding opened #187 "[BUG] ariaTSsetup.py fails after bbox changed"
**Describe the bug**

I previously ran `ariaTSsetup.py` in this directory with a larger bbox `--bbox "25 28 83 86"`. After loading it into MintPy, it failed because there was no data south of 26°N. See https://github.com/insarlab/MintPy/issues/398
I ran `ariaTSsetup.py` again with a smaller  bbox to exclude the area with no data, and it seems to get confused about the area in the masking step, eve

[2020-07-12 17:58] EJFielding commented on #187
I verified that going back and running the larger bbox works in the same directory. I also was able to run the  `--bbox "26 28 83 86"` stack setup in a new working directory. This is a good workaround, but I still consider this a bug.

[2020-07-13 00:32] EJFielding opened #188 "[BUG] ariaTSsetup.py with -mo option fails"
**Describe the bug**

I added the `-mo 15000` option to my `ariaTSsetup.py` run to select only the pairs with minimumOverlap of greater than 15000 km^2. It worked for one bbox, but not for another.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
`ariaDownload.py --bbox "26 28 83 86" --track 19 -o download`
2. Command used
[code]
3. Error Output
[code]
**Expected behavior**

This wor

[2020-07-13 08:12] sssangha commented on #187
@EJFielding yes, the default value for the minimum area threshold is 90km^2 because that is the area of one pixel. So that is to say, the program goes through to completion so long as at least one pixel is spatial coincides with a bounding box, if specified.

Each standard product frame is ~42,000 km^2 in area:
<img width="1347" alt="Screen Shot 2020-07-13 at 12 08 08 AM" src="https://user-images.

[2020-07-13 08:19] sssangha commented on #187
It looks like your mask download for the second ariaTSsetup run failed, such that the older mask was then used. I have been unable to replicate this issue though, however I updated PR #186 to raise an exception so that the code exits with a crash instead of continuing and thereby reading the older existing mask. If it is possible to replicate this error, can you please try again with this change t

[2020-07-13 08:34] sssangha commented on #188
I cannot replicate this issue. My hunch is that perhaps you have encountered a corrupted file, perhaps one that had not finished downloading completely.

To test this, can you please try to help me track down the problematic product as so:
1. add ```print(scene['unwrappedPhase'][0])``` right above line 226 in ```"/Users/fielding/anaconda3/envs/ARIA-tools/lib/python3.8/site-packages/ARIAtools/extra

[2020-07-13 13:58] dbekaert commented on #94
@sssangha wrt issue  #188. As you can see the error does not give much information. Once we add in the logging that should help and also tell us perhaps which file we suspect might be corrupted.

[2020-07-13 22:24] rzinke commented on #188
I was able to replicate the error.
@sssangha, I added `print(scene['unwrappedPhase'][0])` to line 226 in my `/python3.6/site-packages/ARIAtools/extractProduct.py` script. It produced this list of products:
NETCDF:"/u/sar-r2/rzinke/ARIAfix/OlapTest/products/S1-GUNW-D-R-019-tops-20150511_20150429-001856-29770N_27949N-PP-8465-v2_0_3.nc":/science/grids/data/unwrappedPhase
NETCDF:"/u/sar-r2/rzinke/ARIA

[2020-07-14 01:21] rzinke commented on #188
Here is the error I get when I remove all the above ifgs from the products folder:

(ARIA-tools) [rzinke@sar OlapTest]$ ariaTSsetup.py -f 'products/*.nc' --bbox "26 28 83 86" -d download --mask download -w bbox26_28 -mo 15000
***Time-series Preparation Function:***
Shapefile bbox26_28/user_bbox.json created for input user bounds.
Multi-core version
All (179) GUNW products meet spatial bbox criteri

[2020-07-14 02:19] EJFielding commented on #188
@rzinke Thanks for trying this on the Sar Linux machine. It looks like exactly the same error I was getting on my Mac.

[2020-07-14 06:27] EJFielding commented on #187
@sssangha Thanks for the detailed explanations. I have not tried the `-v` or `--croptounion` options. In this case, using the `-mo` option seems the best way to get only the good coverage pairs.

The DEM and mask downloads take about 10 minutes to finish when I run them from home, so I was trying to avoid that duplication of download. It would be a lot more user-friendly if the `ariaTSsetup` code

[2020-07-14 15:45] dbekaert commented on #187
@EJFielding also note that you will not get much data south of 25.75 degrees; as that is the southern most edge of the AOI defined for processing.
<img width="200" alt="Screen Shot 2020-07-14 at 8 40 42 AM" src="https://user-images.githubusercontent.com/19240905/87446104-b979c200-c5ad-11ea-964d-252c670f090b.png">

Generally i prefer to take a bbox either similar to the AOI track and then force the

[2020-07-14 15:46] dbekaert commented on #187
For now the best practice is to delete and restart unless there are no changes on the BBOX.

[2020-07-14 15:46] #187 closed, assigned to sssangha, dbekaert, rzinke

[2020-07-14 18:18] EJFielding commented on #187
Thanks for the explanations @dbekaert. These best practices could be better explained in the documentation.

[2020-07-14 20:04] rzinke opened #189 "remove x-display dependency"
**Describe the bug**
I downloaded new data processed on the HEC (v 2.0.3) and attempted to run the ariaTSsetup.py routines using those data. Instead, the routine ends after the incidence angle step with an error message. This might be a backend issue for the graphics(?).

**To Reproduce**
Steps to reproduce the behavior:
1. ariaDownload.py -t 41 --start 20150101 --end 20170101
2. ariaTSsetup.py -f

[2020-07-14 20:12] EJFielding commented on #189
@rzinke I see `could not connect to display localhost:10.0` in the output. If you are running this from a shell that was disconnected with `screen`, it might have lost permission to connect to the X display. I am not sure what `ariaTSsetup.py` is doing with an X display connection, but it might be automatic when `matplotlib` is called. It does seem like there should be a way to tell `matplotlib` t

[2020-07-14 21:15] dbekaert commented on #189
@rzinke, @EJFielding is right. This has probably to do with a figure being saved. If ran in a sceen it fails. Agreed with @EJFielding that option to not require a display would be better. We have that also implemented for the other routines, so i suspect this is a new one that got added when correcting for baseline features @sssangha ?

[2020-07-14 21:56] dbekaert commented on #189
@rzinke, without running in screen this works fine, so not considering this a bug and have updated the title accordingly.

To get it to work for display,  you will need to modify this: https://github.com/aria-tools/ARIA-tools/blob/7d173b0aa2b4a3a6459ac674f253c7e4058b803f/tools/ARIAtools/extractProduct.py#L460-L477

See here for information:  https://stackoverflow.com/questions/4931376/generating-m

[2020-07-14 22:26] rzinke commented on #189
Confirmed. Many thanks, @EJFielding and @dbekaert.

[2020-07-14 23:34] dbekaert commented on #185
@sssangha Can you confirm that the extract product do no longer have the default standard product sampling?
If that is the case it would mean that the DEM does not have the -tap command in its gdal warp.
The DEM as we download should have regular spacing.

if that is fixed gdal translate and GMT should be compatible also for values extracted from aira-tools.

[2020-07-15 00:12] ehavazli commented on #185
@sssangha @dbekaert
to cut some of the backtracking work,
here is the pixel size from the product:

[code]
here is the geotransform value from the unwrappePhase vrt file

[code]

please check the code starting from line 593 to line 603 in extractProduct.py:

https://github.com/aria-tools/ARIA-tools/blob/7d173b0aa2b4a3a6459ac674f253c7e4058b803f/tools/ARIAtools/extractProduct.py#L593:L603

[2020-07-15 00:44] dbekaert commented on #188
@rzinke @sssangha  More specifically upon merging of products to individual contiguous IFGS, area is being calculated. Products not continuous should be rejected before.

Although should be rejected for some reason this seems to be a multi-polygon. Although did not yet see why:
[code]

Generally the products merged are a single polygon product:
[code]

[2020-07-15 00:47] dbekaert commented on #185
when tap is enforced it cannot be used together with width and length. @sssangha suggest to potentially reverse engineer the with and length to be integer multiples of the original posting.

[2020-07-15 08:12] sssangha commented on #188
@dbekaert @EJFielding ok I figured out the problem. I wasn't able to replicate the issue before as I had to re-run the download to access the IFGs from 2015 that raised these errors.

There isn't anything wrong with these products per se, but when the program attempts to intersect its bounding box with the user-defined box then it fails because a multi-polygon is returned. You can see why this is

[2020-07-15 08:53] sssangha commented on #188
To add to my previous comment, I figured out a working solution! I simply had to update the ```shapefile_area``` function under the ```shapefile_util.py``` script to handle such cases. Will issue PR soon.

@EJFielding It looks like your specified minimum threshold in fact may be a bit too conservative as it passes through short scenes:
<img width="1592" alt="Screen Shot 2020-07-15 at 1 51 17 AM" s

[2020-07-15 14:02] dbekaert commented on #188
@sssangha yep looks good; just need to loop over the multi-polygons.

[2020-07-15 17:14] EJFielding commented on #188
@sssangha Thanks for tracking down the multipolygon issue. I can see that it is literally an edge case where the edge of the bounding box intersected the steps in the S1 TOPS scene boundary.

I just made a wild guess for my `-mo 15000` threshold, but I wonder if the edge case would still happen using a larger minimumOverlap. Sooner or later, someone is going to choose another `bbox` that intersect

[2020-07-15 20:21] dbekaert commented on #188
@EJFielding The bug is on the area calculation and not related to the threshold that the user selects. rather invoking the -mo option triggers the area calculation workflow. The area once calculated is compared to the threshold value.

Edge case as rare do occur. Thanks for identifying @EJFielding! This should be resolved with the PR merged in dev.

[2020-07-15 20:21] #188 closed, assigned to sssangha, dbekaert, rzinke

[2020-07-15 20:21] #172 closed, assigned to sssangha, rzinke

[2020-07-15 20:32] dbekaert commented on #185
@ehavazli can you confirm that the sampling is now identically?  see PR #192

[2020-07-16 07:07] EJFielding commented on #188
I updated to the new dev version and verified that it does work correctly for my original parameters.
[code]
Thanks @sssangha !

I noticed that using this bbox and the small `-mo 15000` threshold picks up a lot of scenes with small coverage, so I changed it to `-mo 42000` as @sssangha suggested. Now I get only the 11 pairs with full coverage of the area. Thanks again.

[2020-07-16 18:17] ehavazli commented on #185
@dbekaert @EJFielding @sssangha

#192 solved the problem in my environment.

[2020-07-16 20:49] dbekaert commented on #185
@ehavazli could you show some figures of the results here?
Just to clarify the error is gone, but did you also have a workaroudn for the +- inf

[2020-07-16 21:24] EJFielding opened #193 "[WANTED FEATURE] Reporting of unwrapped phase stitching success"
**Is your feature request related to a problem? Please describe.**

I am trying to construct an InSAR time series across the Himalayas from the ARIA standard products on track 19, and some pairs have low coherence in the high peaks region. Some of the stitched scenes from `ariaTSsetup.py` have large unwrapping errors along the stitching boundary. See this image of the stitched unwrapped phase prod

[2020-07-16 22:24] dbekaert commented on #193
@EJFielding  Perhaps a better approach would be to expand and avoid minimization/ stitching on a single unwrapping connected component. Feel free to play with the two stage unwrapping on the `2stage` branch. At this point its not mature enough to be the default stitching method. Also note that Mintpy can still leverage the products with stitching artifacts by enabling some of the addition unwrappi

[2020-07-16 22:40] dbekaert commented on #185
@EJFielding The files should not be compatible in terms of grid-sampling. Thanks @sssangha for implementing. This should at least allow not to use ARIA-extract to anotehr format when loading into GMT.

[2020-07-16 22:40] #185 closed, assigned to sssangha, dbekaert, rzinke

[2020-07-17 02:33] EJFielding commented on #185
The new version now works great! I was able to set the output format to `ENVI` and get a file that I can successfully convert to GMT with `gdal_translate`. I had to do one extra `grdmath` step to set the zero pixels to `NaN`, but it did not complain about the grid spacing and extent. Then I was able to load into the Python fault modeling software that I use (Classic Source Inversion). Here is the

[2020-07-17 02:59] dbekaert commented on #185
That great @EJFielding

[2020-07-18 00:04] EJFielding commented on #193
@dbekaert Looking again at the connected components masks, I see that the unwrapping errors are in areas of the Himalayas with no connected components because of the low coherence. I don't know much about how the two-stage unwrapper works, but I assume that it ignores the areas outside the connected components. There is a good connected component on the east side on each pair across the frame boun

[2020-07-20 16:45] EJFielding commented on #185
One other comment while I still have a browser tab open about GSBG (https://desktop.arcgis.com/en/arcmap/latest/manage-data/raster-and-images/supported-raster-dataset-file-formats.htm). It seems that the standard file extension for GSBG files is `.grd` and other formats have standard extensions. This is usually not a problem on MacOS or Linux, but people trying to use Windows might have problems i

[2020-07-21 20:33] rzinke opened #194 "[BUG] meta-data verification"
**Describe the bug**
Not quite sure where to start with this error message. I am running ariaTSsetup.py on the new Tibet track 41 data. Lately, I moved all the old v 2.0.2 data to a separate folder and downloaded all the new, v 2.0.3 data to the folder Track041/AllProducts. When I run TSsetup, I now get an error message in the finalize_metadata section (see below).

**To Reproduce**
Steps to repro

[2020-07-21 20:46] dbekaert commented on #194
This is new code that @sssangha added to verify some of the geometry meta-data and find any potential issues. So likely did not exit when you ran it in the past.

[2020-07-21 20:58] EJFielding commented on #194
Probably the new code did not exist before, either ;-).

[2020-07-21 20:59] sssangha commented on #194
@rzinke, this looks very similar to a bug @bbuzz31 encountered and outlined in #182. Specifically, a subroutine was designed to remove columns and rows with any masked value. So if an entire row were to be masked, then the entire raster would be masked! Now a careful check is implemented to appropriated truncate arrays of columns and rows made up exclusively of masked values. I hope somehow my fix

[2020-07-21 21:08] rzinke commented on #194
Okay, thanks for the hints. I will get a subset of track41 and try to replicate the error to make sure that it is not dependent on a single product. Once I have done that, I will find the section of code that produces the error and put some flags near it to tell us which products are giving us trouble, and at what stage in the processing.

[2020-07-21 23:07] rzinke commented on #194
Hi @sssangha, I am at line 476 in extractProduct.py (/u/sar-r0/rzinke/python/miniconda3/envs/ARIA-tools/lib/python3.6/site-packages/ARIAtools/extractProduct.py). Can you help me figure out what line to print there to display the product name, or some other information that would help you?

[2020-07-22 00:30] sssangha commented on #194
@rzinke, I took a closer look at the version you are using and it looks like it had diverged from the dev. In particular, the relevant changes I made back under PR #181 were superceded. I confirm that the tests outlined in issue #182, which raised identical errors to what you see here, are circumvented with the dev branch.

Please update your workspace with the current dev version and let me know

[2020-07-22 00:39] rzinke commented on #194
Hi @sssangha, thanks for taking a look.
That is very surprising to me because just yesterday I pulled from aria-tools/dev. I will pull again and git it a try... Stay tuned.

[2020-07-22 02:20] rzinke commented on #194
Hi again, @sssangha. I pulled from aria-tools dev and reinstalled ARIA-tools with the setup.py build / install. I confirmed that the .../lib/python3.6/site-packages/ARIAtools/extractProduct.py file is identical to that on the dev page. I get the same error message.

Anything I can do to help debug?

[2020-07-22 08:14] sssangha commented on #194
@rzinke I am unable to replicate. Can you try to re-run ```ariaTSsetup.py``` in verbose mode? That will print the product name for each call.

But perhaps, just as a sanity check, can you first run some smaller derivative of the test Brett shared in issue #182 ?
It's a bit clunky, but just to download the bare minimum of products, try this:
[code]

[2020-07-22 15:59] rzinke commented on #194
Hi @sssangha, I ran the scripts Brett used and they worked without a hitch ("stack generated").

I will rerun in verbose mode and try to isolate the problem.

[2020-07-23 21:31] dbekaert commented on #189
@rzinke could you issue a PR with the change?

[2020-07-24 18:33] ehavazli opened #197 "ariaDownload.py checks for .netrc or takes input for username and password from command line"
**Is your feature request related to a problem? Please describe.**
One can't pass a username and password but needs to enter manually when prompted.

**Describe the solution you'd like**
Have an option to pass username and password in the command line and/or go check the .netrc file

[2020-07-24 18:53] EJFielding commented on #197
Yes, the ISCE package gets the EarthData login information from `$HOME/.netrc`, which is a lot easier to use.

[2020-07-24 19:20] bbuzzanga commented on #197
Currently, we are leveraging ASF's bulk download script, which does a couple nice things like handling partial downloads. I'm quite sure there is no way to pass credentials through the `ariaDownload.py` into the underlying bulk download script. However, there should be a way to have it read the `.netrc`. I spent some time recently working on it but was stumped and received radio silence from a que

[2020-07-24 20:29] piyushrpt commented on #197
Look at the closed PR on ISCE for staging earthdata products - was a variant of ASF's old bulk downloader. Uses netrc module to load info from .netrc and authenticate

[2020-07-24 20:57] dbekaert commented on #197
@bbuzz31 I would like to ensure we keep on using the ful DAAC api capabilities for checksums etc. We jsut need to make sure the cookie is made in advance. the PR  @piyushrpt is referring too is this one: https://github.com/isce-framework/isce2/pull/66

[2020-07-24 20:59] dbekaert commented on #94
We will adopt the steps outline in Raider under PR: https://github.com/dbekaert/RAiDER/pull/75

[2020-07-24 21:00] #50 closed

[2020-07-24 23:12] dbekaert opened #198 "Rerun dedup capbilities"

[2020-07-24 23:36] dbekaert opened #199 "Expose option to use all compute threads"
Have an option in aria-tools to say `all` for number of threads. This step would include a check to see how much is available on ones system and set it to that number.

[2020-07-25 05:19] EJFielding commented on #197
Would it be possible to have two options? The interactive username and password entry is a big hassle for Jupyter notebooks and prevents any batch processing.

[2020-07-25 17:58] bbuzzanga commented on #197
@piyushrpt @dbekaert thanks for pointing me to the ISCE PR. That was very helpful, and I was able to implement it into our `ariaDownload` wrapper. I will implement credential passing so both options are available and issue a pull request in the next couple days.

[2020-07-25 21:36] dbekaert commented on #197
That is the plan.

[2020-07-28 04:41] #197 closed, assigned to bbuzzanga

[2020-07-30 22:51] sssangha opened #204 "[WANTED FEATURE] Re-running program efficiently"
This ticket outlines the motivation and proposed strategy behind adding in the ability to re-run the codes efficiently without restarting from scratch everytime. In the end, we should only start regenerating deleting all existing outputs from scratch when the user changes input argument (s) (i.e. different bounding box, different mask, different multilooking factor, etc.).

For each new ARIA-tools

[2020-07-30 22:52] sssangha commented on #204
Storing a physical dictionary of inputs arguments would not require much overhead. However a clean, yet less transparent alternative would be to generate a unique hash and store it to a hash file that may be referenced vis-a-vis successive user inputs.

Just as a note, from what I've seen it is recommended that such a dictionary of input arguments is to be serialized as JSON before hashing. E.g.:

[2020-07-30 22:52] dbekaert commented on #204
@sssangha duplicate ticket with #198

[2020-07-30 22:55] sssangha commented on #204
@dbekaert, ok will copy this discussion there before closing this thread.

[2020-07-30 22:56] sssangha commented on #198
I will outline my motivation and proposed strategy behind adding in the ability to re-run the codes efficiently without restarting from scratch everytime. In the end, we should only start regenerating deleting all existing outputs from scratch when the user changes input argument (s) (i.e. different bounding box, different mask, different multilooking factor, etc.).

For each new ARIA-tools call,

[2020-07-30 22:56] sssangha commented on #198
Storing a physical dictionary of inputs arguments would not require much overhead. However a clean, yet less transparent alternative would be to generate a unique hash and store it to a hash file that may be referenced vis-a-vis successive user inputs.

Just as a note, from what I've seen it is recommended that such a dictionary of input arguments is to be serialized as JSON before hashing. E.g.:

[2020-07-30 22:56] #204 closed, assigned to nobody

[2020-07-30 23:01] dbekaert commented on #198
# Variables of relevance for evaluating a change for reprocessing

@sssangha Lets also dig up the discussion on ARIA-tools slack channel and make a table per layer on what are parameters that can change and which cannot. You can edit my message here:

| Layer | if these variable changed needs updating | additional comments |
| ------------- | ------------- | ------------- |
| unwrapped phase/conne

[2020-07-31 04:15] dbekaert commented on #198
I believe that the cutline could be translated as part of the hash. its not as transparent as it depends on many different variables. But there are scenarios where a user could take a certain bbox and then forced it with mo to still have the original cutline. Under that scenario the arguments have changed but the cutline did not.

[2020-08-03 15:34] alexdunncs opened #205 "[BUG] Cookie creation from .netrc credentials during ariaDownload.py fails."
**Describe the bug**

Given a .netrc file in the home directory and no existing .bulk_download_cookiejar.txt file, the downloader returns the following error and prompts for credentials:

[code]

If the cookiejar file exists but is empty, it returns the following error and fails:
[code]

I've confirmed that the credentials are being loaded correctly from the netrc file, so that shouldn't be the is

[2020-08-03 16:30] dbekaert commented on #205
@alexdunncs: Would recommend for now that you comment out the git pull of a released version and move to dev (temporarily) till we cut a new release in the next weeks. Please let us know if that resolves the problem.

- The version you are referring to is a release: v1.1.0: 711465b1238166ca6e56f6d6296a67eab10245e
- The netrc support was committed under git commit: 35e689f53746f882065ec437cd825af72

[2020-08-03 19:07] bbuzzanga commented on #205
Hi @alexdunncs, as @dbekaert said the problem should be resolved by using the dev version. There will be different error messages if there are problems with the credentials in the updated `ariaDownload.py` script.

[2020-08-03 20:44] dbekaert commented on #205
@bbuzz31 i get further but it does not yet work for me.

with an existing netrc file still need to type password and username.

[code]

[2020-08-03 20:56] dbekaert commented on #205
Actually was typo in my netrc. this seems to be all working to me.

[2020-08-03 20:56] #205 closed, assigned to bbuzzanga

[2020-08-06 01:52] yuankailiu opened #208 "ariaTSsetup incomplete extraction of data"
I have a track of GUNW products downloaded using the python script provided by ASF vertex search webpage. The bounding box or the area of interest was defined by dragging a rectangle on the ASF page.

I went on and used ariaTSsetup.py to extract the data from the standard products. ariaTSsetup.py was run on Jupyter:

`!time ariaTSsetup.py -f 'products/*.nc' -b '26.140 33.494 33.558 37.596' -d Down

[2020-08-06 02:00] sssangha commented on #208
@liuykai I would suggest leveraging the minimum overlap (```-mo```) option to filter out shorter scenes that bias the common intersection cutline. Refer to issue ticket #161 for a detailed discussion regarding this option, and issues you may encounter without it.

Please let me know if this helps.

[2020-08-06 02:13] dbekaert commented on #208
In addition feel free to look at this branch here as guidance wrt `-mo` and how to calculate it. Not much tested so feel free to try it out and make edits/contributions where needed. https://github.com/aria-tools/ARIA-tools-docs/blob/aria_sds/JupyterDocs/ariaEnd2End/ariaEnd2End.ipynb

The functionality exist, but documentation is limited, predominantly on the issue ticket that implemented it and o

[2020-08-06 05:48] Askaholic commented on #198
I'm not sure why you would need to use logging for that. I would just write to a json file using dump:
[code]
Note that this will only work if your args consist entirely of json serializable values (str, int, bool, float, None, list, dict). If you are doing fancier arg parsing that may store arbitrary python objects, then you can use pickle instead (although be aware than this has some security im

[2020-08-06 15:49] dbekaert commented on #198
@Askaholic for one of the variables that drive if there is a change is the cutline (json polygon) which depends on the following user input options:
- bbox (SNWE, shapefile), this is user driven
- union/intersection, which depends on the footprints of the data being available and can this change of data is added.
- minimum overlap threshold (area in km^2)

There are different combination which cou

[2020-08-06 15:52] dbekaert commented on #208
closing this as the provided guidance should resolve this.

[2020-08-06 15:52] #208 closed, assigned to nobody

[2020-08-06 15:54] dbekaert opened #209 "duplicates order of priority"
If we have duplicates of v2.0.3 and before, we should give priority to v2.0.3  above the older version as it includes the bug fix for geometry information.

[2020-08-06 17:19] Askaholic commented on #198
I'd probably save the computed polygon along with the inputs, and just recompute it each time to compare against the saved version. You'll have to build in some sort of "isclose" functionality to check if the polygons are basically the same.

[2020-08-06 17:22] dbekaert commented on #198
Ok that sounds pretty transparent, lets go down that route instead of the hash.

[2020-08-06 17:26] yuankailiu commented on #208
I see, @sssangha . Thanks. I looked at post #161 and found it useful.

So because in my study area, there are some small productions (some single scene size products). We can tell from the lat_extent plot that these small products (in my case, mostly in the northernmost region) are driving the intersection criteria. So eventually, the only intersection is there.
![image](https://user-images.github

[2020-08-06 18:04] dbekaert commented on #208
@liuykai that is the correct observation if you have already extracted the products, likely no need to do it.  Feel free to add the other variant, would be instructive. In the end what you do is loop over all the shapefile, load them with shapely and take the union over and over to get the ground track determined. But it would imply downloading or running virtually the extract step without doing a

[2020-08-06 18:05] dbekaert commented on #194
@rzinke can this be  closed?

[2020-08-06 18:12] rzinke commented on #194
Ah, not yet. Let me check on it. There might have been some corrupted files since I have not encountered this issue with any other data set.

[2020-08-06 19:22] yuankailiu commented on #208
I see. Now that makes sense to me. Thanks for clarifying it.

[2020-08-07 02:53] EJFielding commented on #209
Seems reasonable to always give priority to the newest version number if there are multiple versions.

[2020-08-07 19:58] ehavazli opened #210 "incidence, azimuth and look angle files are extraction problem"
ariaTSsetup.py doesn't fail but the extracted incidence, azimuth and look angle files are empty even though the file sizes are more than 10MB.

**To Reproduce**
[code]
[code]

[code]

**Desktop (please complete the following information):**
 - ARIA-tools git tag:
[code]
 - OS: macOS Mojave 10.14.6

[2020-08-07 20:30] sssangha commented on #210
@ehavazli I couldn't replicate this error.

[code]

Perhaps some products are corrupted? I should also note that the reference interferograms chosen to extract metadata fields--always the first in the stack--for your case was ```20181210_20181204```, while for me it was ```20181110_20181104``` after following your download instructions. Can you confirm why this earlier product wasn't used as a ref

[2020-08-07 22:17] rzinke commented on #210
Same as @sssangha, I do not get the same error. When I copy the commands exactly from the Reproduce section, I get the following error:

(ARIA-tools) [rzinke@sar T124]$ gdalinfo incidenceAngle/20181210_20181204 -stats
ERROR 4: incidenceAngle/20181210_20181204: No such file or directory
gdalinfo failed - unable to open 'incidenceAngle/20181210_20181204'

meaning that ARIA-tools is using slightly di

[2020-08-07 22:19] ehavazli commented on #210
@sssangha @rzinke
I was making multiple tests with different time extents to avoid possible corrupt products just like you mentioned. The discrepancy between the start date and primary date should come from me pasting the output of one of those tries.

I haven't checked out the latest version to test the latest release.

[2020-08-08 01:13] sssangha commented on #210
@ehavazli I also tried just extracting the incidence angle layer for this interferogram 20181210_20181204  separately and it still isn't blank on my end:
[code]

I would rerun in a new folder and redownload as @rzinke suggested. It's concerning though that the problem isn't captured. Did you check the other interferometric outputs though, are they all blank as well? Potentially there is an issue w

[2020-08-08 17:19] dbekaert commented on #210
@ehavazli suspect this might go back to the installation you are using. Can you provide reproducibility of the environment you are using too? i.e. provide the link to the exact shell script that installs the code.

[2020-08-08 20:12] ehavazli commented on #210
https://github.com/aria-tools/ARIA-tools-docs/blob/aria_sds/JupyterDocs/ariaMintpy_install/ariaMintpy_install.sh

@sssangha @bbuzz31 @rzinke
could you give it a shot?

[2020-08-12 06:20] rzinke commented on #194
I am still getting the same error as above:

Generating: unwrappedPhase - [==================================================] 20200708_20200626 2935s /   468s
Generating: coherence - [==================================================] 20200708_20200626 9201s /   187s

Extracting single incidence angle, look angle and azimuth angle files valid over common interferometric grid
Generating: incidenc

[2020-08-12 14:28] rzinke commented on #194
For the above, I am using the most recent version of ARIA-tools:
commit c5d2844f8e6dcd27502c638f84da5d421dcf0161 (HEAD -> dev, aria-tools/dev)
Author: BB <bbuzz318@icloud.com>
Date:   Wed Aug 5 14:42:22 2020 -0700

Downloads were complete through Aug 5th.

[2020-08-13 22:57] rzinke commented on #194
I am getting the same error for track 114 as well.

[2020-08-19 03:28] sssangha commented on #210
@ehavazli figured it out! I was able to replicate the issue and figured out it was associated with the most recent release of gdal.

I have confirmed that libgdal revision ```3.0.4``` is stable.

Add this condition to your ```https://github.com/aria-tools/ARIA-tools-docs/blob/aria_sds/JupyterDocs/ariaMintpy_install/ariaMintpy_env.yml``` yml file:  ```libgdal==3.0.4```

[2020-08-19 03:35] dbekaert commented on #210
Thanks for looking into this Sim. Perhaps for now lets us forced 3.0.4 <=
ligbgdal version for ariatools, till fixed by gdal community.

On Tue, Aug 18, 2020 at 8:28 PM sssangha <notifications@github.com> wrote:

[2020-08-19 19:28] sssangha commented on #210
@ehavazli after communicating with the GDAL team (https://github.com/OSGeo/gdal/issues/2867), I realized we just need to make a minor change to ARIA-tools instead of just sticking with an older, static build of gdalWarp.

Files cannot be directly overwritten by gdalWarp anymore, so temporary files are created and deleted after warping. This fixes the issue you raised.

So please refer to PR #212 t

[2020-08-19 21:01] ehavazli commented on #210
The problem is fixed with the new PR

![Screen Shot 2020-08-19 at 2 00 37 PM](https://user-images.githubusercontent.com/6526589/90689151-6cc87d00-e224-11ea-8bcf-14b08a73cbb2.png)

[2020-08-19 21:01] #210 closed, assigned to sssangha, dbekaert

[2020-08-20 08:33] sssangha commented on #194
@rzinke I was able to replicate this issue, and fix a bug in PR #215.

As I outline there, essentially your metadata layers were being screened for artifacts and this routine failed since originally rows and columns containing any nodata values were entired masked out so the scipy libraries leveraged for this routine would work as intended.

This strategy has now been adjusted to just remove nodat

[2020-08-20 18:11] dbekaert commented on #94
merged under #211. Thanks @bbuzz31

[2020-08-20 18:12] #94 closed, assigned to bbuzzanga

[2020-08-21 17:58] dbekaert opened #216 "Limit -f option to .nc files"
Have an internal check such only physical files with .nc extension or urls with a .nc extension are kept. Provide a warning on the files that are being rejected.

[2020-08-22 21:08] rzinke commented on #194
Thanks, @sssangha! Your fix in PR #215 worked. I got a final warning:
WARNING: azimuthAngle layer for IFG 20141207_20141113 has R² of 0.0000 and standard error of 0.5912°, automated correction applied
but I think that is expected, no?

[2020-08-22 22:38] sssangha commented on #194
@rzinke yes, that's expected as an artifact was found in your dataset. In my tests, the output appeared as a smoothly varying field. Could you also open up and confirm that is the case on your end? Thanks!

[2020-08-23 17:40] rzinke commented on #194
@sssangha, the map view of the azimuth and incidence angles look as expected: smoothly varying between reasonable values with no artifacts or kinks.
Many thanks.

[2020-08-24 06:22] #194 closed, assigned to sssangha, dbekaert, rzinke

[2020-09-16 19:06] dbekaert opened #225 "support for z-shell install"
Currently Z-shell install does not allow for calling the command line tools. Setting the environment manually using setenv and set in the .zshrc file does not work either, and zsh gives the error “setenv” not found. @rzinke or Niloufar, did we miss anything?

Can you also confirm that this is only related to setting of the binaries and not accessibility in python?

[2020-09-16 19:14] nabolfat opened #226 "AriaDownload, index out of range"
When downloading a track using the follwoing command it gives the following error:
Command:
ariaDownload.py -b '35.3 36.3 -118.1 -117.2' -s 20190601 -e 20190820 -v -t 64 -w {data_dir}  -o download

Error:
Using  1 threads for parallel downloads
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/abolfath/opt/anaconda3/envs/ARIA-tools/lib/python3.8/multiprocessi

[2020-09-16 19:17] dbekaert commented on #226
@bbuzz31 could you have a look, looks to be related to the concurrent download option?

[2020-09-16 19:19] ehavazli commented on #226
@nabolfat @rzinke
I am currently able to run the command without any issues and downloading the data.
Could you please confirm
[code]
is correct?

Can you try to give the folder manually?

[2020-09-16 19:20] dbekaert commented on #225
@nabolfat can you provide the error message you were getting and the step you did to get to the message. Did you use the setup.py program or a manually set-up?

[2020-09-16 19:25] nabolfat commented on #225
Now that I tried both bash and Zshells, both are giving me the same error. So I don't think Zshell is giving a separate issue.
We ran the python command ,```% python ariaDownload.py -t 64```,  from the ARIA-tools/tools/bin folder directly.

[2020-09-16 19:28] dbekaert commented on #225
To clarify during your install after repo was downloaded:

did your run the setup install commands or  are you setting the environments manually?
[code]

If the latter, the setenv is for cshell and not for bash or zshell, as it mentioned in the README.
If you use zshell or bash, you should be using “export” for environment variables.
https://flaviocopes.com/shell-environment-variables/

[2020-09-16 19:28] EJFielding commented on #226
This works for me under Mojave. I use tcsh.
`ariaDownload.py -b '35.3 36.3 -118.1 -117.2' -s 20190601 -e 20190820 -v -t 64 -w coseis -o download`

[2020-09-16 19:30] rzinke commented on #226
Hmm, this gives me the same error Niloufar mentioned.

[2020-09-16 19:30] rzinke commented on #226
I am using Mojave, bash

[2020-09-16 19:32] dbekaert commented on #226
Works for me as well. downloading all products now.

[2020-09-16 19:34] EJFielding commented on #226
I can't tell if it is using the parallel download option.

[2020-09-16 19:53] nabolfat commented on #225
I ran the commands:

python setup.py build
python setup.py install

[2020-09-16 20:55] bbuzzanga commented on #226
@rzinke @nabolfat.

@ehavazli likely diagnosed the problem: assuming `{datadir}` is a variable you will need to expand it with a leading `$`.

[2020-09-16 20:58] bbuzzanga commented on #226
@EJFielding if you are on the `dev` version there should be a line in the log (and also stdout if you didn't pipe it elsewhere) that lets you know the number of threads you're specified for downloading (default=1). Specifically, the log will have a line: Using  "N" threads for parallel downloads.

[2020-09-16 21:03] EJFielding commented on #226
Sorry, I had not correctly installed the new `dev` version. Now when I run the same command it fails.
[code]

[2020-09-16 22:04] dbekaert commented on #226
Hi Eric,

I pulled a clean version from the dev branch
I tried your command, but cannot replicate.
Brett, can you replicate?

[code]

On Wed, 16 Sep 2020 at 14:03, Eric Fielding <notifications@github.com>
wrote:

[2020-09-16 22:34] EJFielding commented on #226
To get a clean copy, do I need to only `git clone` and install ARIA-tools in a new directory, or do I need to make a whole new conda environment? It is possible that doing an update with `git pull` and then `python setup.py install` does not check all the requirements are met.

[2020-09-16 22:57] nabolfat commented on #226
I tried again but I am getting the exact error as Eric.

[2020-09-16 23:07] bbuzzanga commented on #226
Very strange. I'm not getting the error, products are downloading fine for me.

[2020-09-16 23:11] ehavazli commented on #226
Hi @EJFielding you don't need to re-create a conda environment. A fresh git clone and then installation would work.

can you confirm you are pulling from the main dev branch and not your fork? Also which version of python are you using?

Can you try:
[code]
if successful, then
[code]

@rzinke and @nabolfat  could you also check which python version you are using?

[2020-09-16 23:13] bbuzzanga commented on #226
thanks @ehavazli. A couple follow up suggestions to try: remove the `~.bulk_download_cookiejar.txt` to force a new cookie for ASF. Also perhaps update the packages in your conda environment.

[2020-09-16 23:16] rzinke commented on #226
Python version 3.8.5.
I'm not sure exactly how setup.py works, but I usually install updates through that. What I did to get this error was I completely removed my old clone of ARIA-tools and removed the python environment. I then cloned directly from the main AT fork (not my personal one) and followed the instructions on the GitHub page for conda installation. My version from just two weeks ago d

[2020-09-16 23:34] EJFielding commented on #226
I have my `origin` set to the `aria-tools` repository. I checked that I have the latest `dev`. I ran `conda update` and I deleted the `~/.bulk_download_cookiejar.txt` file. I still get the same error.

[2020-09-16 23:46] bbuzzanga commented on #226
With the fresh install of ARIA-tools I'm also now getting this error argh

[2020-09-17 00:50] bbuzzanga commented on #226
Okay, I've fixed the issue with https://github.com/aria-tools/ARIA-tools/pull/227. I'm not entirely sure where the problem originated from except that it is outside ariaTools. We're clearing the `os.sys.argv` variable which hold the arguments the user inputs in order to prevent spurious messages from the ASF download script. Python's multiprocessing library no longer can deal with this. Please let

[2020-09-17 00:50] #226 closed, assigned to bbuzzanga

[2020-09-17 18:50] EJFielding commented on #226
The download works again for me after the #227 fix.

[2020-09-17 20:50] nabolfat commented on #226
Working for me as well after the #227 fix! Thanks!

[2020-09-30 04:31] rzinke opened #229 "[BUG] 'ASFDataDload' has no attribute 'bulk_downloader'"
**The bug**
When I try to download new data from ASF, I get an error message saying that the ASFDataDload module does not have a bulk downloader attribute.

[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - ARIA-tools git tag:
commit 8411f3d5e2ad94beb830c771ed0201f3ab02dcc9 (HEAD -> dev, aria-tools/dev)
Author: BB <bbuzz318@icloud.com>
Date:   Thu Sep 17

[2020-09-30 14:17] dbekaert commented on #229
@bbuzz31 suspect this is a change on the ASF side in their bulk download python script. It would make our life easier if its a simple library. @piyushrpt expressed some similar concerns when trying to get the virtual data access to work in ISCE, which broke due to changes on the bulk download python script too.

[2020-09-30 18:28] bbuzzanga commented on #229
@dbekaert yes they make it very difficult for us. @rzinke I think the problem has something to do with the amount of products. For now, if you split the track into two time periods the download works for me:
[code]

[2020-09-30 19:05] rzinke commented on #229
Weird. It is working with the specified date ranges.
Thanks!

[2020-09-30 19:06] EJFielding commented on #229
I was working with some of the ASF folks in August to prepare the Los Angeles time series Jupyter notebook using the `ariaDownload.py` script within OpenSARLab. I was downloading the more than 700 products on one of the tracks, and I saw that the first 100 or so were downloaded at about 3 seconds each, but then the download rate started dropping and the time per product increased to 12 seconds and

[2020-09-30 20:21] bbuzzanga commented on #229
thanks for the comments @EJFielding, it would be nice if they could let us know of any such changes

[2020-09-30 21:15] EJFielding commented on #229
The ASF people I was working with (mostly @fjmeyer and @emlundell) seemed surprised by the ASF data download slowing also, so I don't know if they could tell us about this latest change.

[2020-09-30 22:35] emlundell commented on #229
I've been talking with the software engineers over Vertex, the search API, and some AWS resources. We're trying to figure out the root cause of the slowdowns.

However, they did also mention that for the search API call

and that

I hope this improves ARIA.

[2020-09-30 23:30] bbuzzanga commented on #229
Hi @emlundell, thanks for looking into this.
We internally handle `kmz` and `url` outputs; they don't get passed to the API.

As far as the current issue, the bug can be traced to a 504 (Gateway timeout) from our POST to ASF.
We POST as follows:
[code]

When the `product_list` gets very large, the POST fails.
I have tried increasing the timeout error on the POST but it has no effect.

Thanks for y

[2020-09-30 23:45] dbekaert commented on #229
Retrieving the list of files allows us to add additional functionality not
included in the DAAC API to sort on temporal baselines etc.

On Wed, 30 Sep 2020 at 16:30, BB <notifications@github.com> wrote:

[2020-10-01 21:35] dbekaert commented on #229
So there are two different items here:
1) hammering the ASF DAAC API to retrieve a long list of products with the time-out message that @bbuzz31 provided
2) The download speed that get throttled once the download is going

[2020-10-01 23:45] emlundell commented on #229
I did various runs of `ariaDownload.py -b '33.5 34.5 -119.0 -117.9' --track 71` on both OpenSARlab and a local ASF server. The graphs show what happened.

![Image Pasted at 2020-9-30 20-12](https://user-images.githubusercontent.com/12416781/94873166-f4480500-03fa-11eb-8cab-8cc9086bd63c.png)

Yesterday, I did three runs on OSL between 1.5 and 0.5 hours apart. For all three the download speeds decre

[2020-10-02 00:41] bbuzzanga commented on #229
Very interesting, thanks for all the work @emlundell.

Regarding the other long list issue, it is fully repeatable using the command posted by @rzinke `ariaDownload.py -t 121`.

[2020-10-02 05:36] EJFielding opened #231 "[BUG] ariaDownload gets first file blocked by JPL network URL-block service"
**Describe the bug**
I ran a download of seven products, but the first one was blocked and the `.nc` contains only an error message. This is while connected to the JPL full tunnel VPN. I ran it a second time after deleting the bad file and got the same result for the first file. Rest of the files are downloaded correctly (or skipped on second try).

**To Reproduce**
Steps to reproduce the behavior

[2020-10-02 17:08] dbekaert commented on #231
Not running behind the fire-wall works to download the file: https://grfn.asf.alaska.edu/door/download/S1-GUNW-D-R-173-tops-20200313_20200301-134413-33072N_31090N-PP-7694-v2_0_2.nc. Although, need to say i needed to run it twice as it reported at first some files reported errors. So seems some transient on the API client side and not something specific to ariaDownload program.
[code]
and the secon

[2020-10-04 20:34] EJFielding commented on #231
I verified that this does not happen from my home ISP without the JPL full tunnel VPN. It does happen running on a Linux machine inside the JPL network, so it must be some kind of strange interaction between the ASF API and the JPL firewall. This is the output from the JPL machine:
[code]
I understand now that this is not likely to be due to a bug in ARIA-tools, but it seems like ARIA-tools should

[2020-10-04 20:56] dbekaert commented on #231
ariaDownload.py merely wraps around the DAAC API to provide additional
functionality for subsetting. Checking if files are complete, checksums,
etc, the error download message are all passed through via the existing API
functionality to my knowledge. Suggest you open an issue ticket with ASF,
as all the underlying functionality is leverage from the DAAC API.

On Sun, 4 Oct 2020 at 13:34, Eric Fiel

[2020-10-04 23:47] EJFielding commented on #231
@emlundell Are you the one to ask about this ASF API or web server problem where it is providing a bad redirect for one of the GRFN products (`S1-GUNW-D-R-173-tops-20200313_20200301-134413-33072N_31090N-PP-7694-v2_0_2.nc`) that then gets blocked by the JPL firewall?

[2020-10-05 16:32] emlundell commented on #231
@EJFielding @glshort is responsible for the ASF Search API up until the GRFN products are requested via `grfn.asf.alaska.edu/door/download`. After that point @asjohnston-asf is currently responsible. Any bugs or outstanding errors should be redirected to them since they know their systems the best.

[2020-10-05 17:22] rzinke opened #232 "[BUG] ARIA stitched products give zero values"
I am following up on a bug I originally discovered using MintPy, and reported there: https://github.com/insarlab/MintPy/issues/453

However, indications point to the bug originating in the ARIA-tools workflow. Essentially, the binary image files are stored with all nodata values. I tested this for two Tibet tracks and both turned out this way.

[2020-10-05 18:00] dbekaert commented on #232
@rzinke Can you provide additional information such other can replicate your problem?
Also did you re-run this from an existing tun or a clean run?

The png that you showed looks to only provide partial coverage over the region of interest.
The pngs are generated after the data is written to the envi file: https://github.com/aria-tools/ARIA-tools/blob/b787e827a799fecbf45d6aa267eeb95940148d83/tools

[2020-10-05 18:01] dbekaert commented on #189
Closing this as its outdated

[2020-10-05 18:01] #189 closed, assigned to sssangha, dbekaert, rzinke

[2020-10-05 19:35] rzinke commented on #232
Okay. It appears there are several things going on here:

First, I want to use a practice data set for troubleshooting. I downloaded the standard products:
[code]
then launched the ARIA TS setup script:
[code]

which produces the following error:
[code]

[2020-10-05 19:54] rzinke commented on #232
To more directly answer your questions:
I ran from a clean run.
The png covering only part of the AOI is expected, since the frames currently do not cover the whole bbox area.
The coherence maps show only zeros.
The connected components outline the expected extent, same as the pngs:

![Screen Shot 2020-10-05 at 12 53 25 PM](https://user-images.githubusercontent.com/48299159/95125445-d5eb4d80-0709-

[2020-10-05 21:48] sssangha commented on #232
@rzinke I believe there was a typo in your input? You specified '3' with the '-l' command, which is why the program was looking for layer key '3' in the dictionary

[2020-10-05 23:07] rzinke commented on #232
Thanks, @sssangha. I fixed the typo and run the script. All the maps are still zeros. So,

[code]

produces the following outputs:

![Screen Shot 2020-10-05 at 4 07 30 PM](https://user-images.githubusercontent.com/48299159/95140985-e6f58800-0724-11eb-9d7a-59ed07dba72e.png)

[2020-10-06 00:33] dbekaert commented on #232
My first suggestion would be to simplify the issue and remove the -ml
option.

On Mon, 5 Oct 2020 at 16:08, rzinke <notifications@github.com> wrote:

[2020-10-06 00:38] rzinke commented on #232
I had a brief chat with @sssangha. He thinks it has to do with the watermask.
I don't have time to test this at this moment, but hopefully later tonight I can set up a job without the water mask to see that solves the issue.

[2020-10-06 01:00] rzinke commented on #232
That is, here is the watermask from yesterday's run:

![Screen Shot 2020-10-05 at 5 57 56 PM](https://user-images.githubusercontent.com/48299159/95147085-8bcb9180-0734-11eb-87dd-d1589275647f.png)

And here is the watermask from last May, which returned valid results:

![Screen Shot 2020-10-05 at 5 58 56 PM](https://user-images.githubusercontent.com/48299159/95147116-a69e0600-0734-11eb-8178-876e30e

[2020-10-06 01:07] dbekaert commented on #232
@sssangha it might be good if we add more control plots like we do for unwrapped phase for the DEM and water mask too.  Perhaps add a warning if the stat of the waster mask is all zero?

[2020-10-06 17:12] rzinke commented on #232
I re-ran the functions without using a water mask at all. I still get only null values.

[code]

returns the following results:
![Screen Shot 2020-10-06 at 10 04 50 AM](https://user-images.githubusercontent.com/48299159/95236543-e9ef8780-07bb-11eb-93c1-14d58fd5a52a.png)

Where white indicates nodata.
Here again, the pngs look fine:

![20190309_20190213](https://user-images.githubusercontent.com/48

[2020-10-06 18:00] rzinke commented on #232
Here is the shapefile:

[19_A_Tibet_AOI.zip](https://github.com/aria-tools/ARIA-tools/files/5335737/19_A_Tibet_AOI.zip)

[2020-10-06 20:08] rzinke commented on #232
I did the standard timeseries generation process for Track 41. Here, there are no AOI or minimum overlap specifications necessary.

[code]

The PNGs show valid ifgs, but the ENVI files are all zeros.

[2020-10-06 20:08] #232 closed, assigned to ehavazli

[2020-10-07 07:10] rzinke opened #233 "[BUG] ERROR: Products do not overlap or were not provided in a contigious sorted list."
**Bug**
I am processing a timeseries for track 19.
I pruned and checked the data using the ```ariaPlot.py``` function, cropping to intersection.

![lat_extents](https://user-images.githubusercontent.com/48299159/95297097-c0bc0f00-082e-11eb-8334-f95be49f5249.png)

When I apply the ```ariaTSsetup.py``` function, it runs for a while and then produces this error message.

[code]

**To Reproduce**
Step

[2020-10-08 22:50] dbekaert commented on #233
via @sssangha fix in #235

[2020-10-08 22:50] #233 closed, assigned to sssangha, dbekaert, rzinke

[2020-10-18 01:10] EJFielding commented on #231
I tried this download again from a machine on the JPL network, and it completed correctly, so it seems that whatever was causing the problem was fixed.

[2020-10-18 01:10] #231 closed, assigned to sssangha, dbekaert, rzinke

[2020-10-23 03:49] nabolfat opened #237 "Error on downloading DEM files"
Hi,
I am trying to use ariaTSsetup running the following command:
ariaTSsetup.py -b '35.2 36.2 -118 -117' -f 'products/*.nc' --mask Download -w 'products_ariaoutputs'

The DEM directory is made and is empty, and then I will get the following error message:
"RuntimeError: products_A_t64_ariaoutputs/DEM/SRTM_3arcsec_uncropped.dem.vrt: No such file or directory"

The DEM files should be downloaded au

[2020-10-23 03:50] dbekaert commented on #237
Changes on opentopo for hosting the DEM. We are looking for a work-around.

[2020-10-27 22:43] rzinke commented on #237
Hello, I am running into the same issue. Have there been any recent updates?

[2020-10-28 00:19] dbekaert commented on #237
@rzinke, the solution is implemented here: https://github.com/dbekaert/RAiDER/blob/dev/tools/RAiDER/dem.py; would need porting to ARIA-tools in the same way.

[2020-10-31 05:44] yuankailiu commented on #237
@dbekaert, @rzinke, is there a way currently to use DEM which is pre-downloaded ourselves before hand (i.e., from [GMRT.org](https://www.gmrt.org/GMRTMapTool/))?

I also tryied to do the same way as the implementation in [RAiDER](https://github.com/dbekaert/RAiDER/blob/dev/tools/RAiDER/dem.py).

Is it this line in ARIA-tools' extractProduct.py needs to be modified for porting?
`_world_dem = '/vsic

[2020-10-31 16:56] dbekaert opened #238 "[BUG] bring own DEM and water mask error message "_uncropped""
**Describe the bug**
when bringing own DEM it looks for file*_uncropped.vrt; which does not exist when bringing own DEM.

**To Reproduce**
Steps to reproduce the behavior:
1. Download dem from dem.py .e.g ISCE
2. run ariaExtract.py for a geometry layer using the downloaded dem.

[2020-10-31 17:03] dbekaert commented on #237
## fix bring own DEM
@liuykai wrt own DEM, just it was always envisioned to be supported, but needs a bug fix see #238.

## fix download internally in ARIA-tools
Wrt porting over the fix from RAiDER here:
1. update the filepath
2. we are not using a vrt access using GDAL anymore rahter we use the opentopo API to download. So you also need to port over: https://github.com/dbekaert/RAiDER/blob/1b674

[2020-10-31 17:09] EJFielding commented on #238
Not only does `ariaExtract` not find the DEM that is provided by the user, it erases all the DEM files when it fails.

[2020-10-31 17:19] dbekaert commented on #238
Good point @EJFielding; this would not be desired. It is likely related to the "uncropped"; which was meant to be the untouched file. We will look into this.

[2020-10-31 17:59] EJFielding commented on #238
I find a similar bug when I try to specify the mask file to avoid downloading it again.
[code]
It similarly deleted the previously downloaded mask when opening the mask failed. It takes quite a while to download the watermask so it is quite inefficient to have to redo the download each time.

[2020-11-01 16:45] dbekaert commented on #237
@nabolfat @liuykai can you give the PR a test to verify it does not break anything you are expecting? #239

[2020-11-01 19:25] dbekaert commented on #238
fixed per #239

[2020-11-01 19:25] #238 closed, assigned to sssangha, dbekaert

[2020-11-01 19:25] dbekaert commented on #237
fixed per #239

[2020-11-01 19:25] #237 closed, assigned to sssangha, dbekaert, rzinke

[2020-11-01 20:43] EJFielding commented on #238
Thanks for the help to fix this @bbuzz31 and @dbekaert .

[2020-11-01 21:10] EJFielding commented on #237
The PR worked for me to do a DEM download.

[2020-11-01 21:46] nabolfat commented on #237
Mine is working as well! Thanks.

[2020-11-01 22:06] yuankailiu commented on #237
Also works perfectly for me, @dbekaert. Thanks for checking and updating.

[2020-11-05 05:14] yunjunz opened #241 "[BUG] tsSetup: inconsistent date12 order in *Stack.vrt file"
**Describe the bug**

@totaibi01 and I found that the order of date12 info among `stack/*Stack.vrt` file are not consistent (409 and 412). However, this is assumed and used in MintPy [prep_aria.py](https://github.com/insarlab/MintPy/blob/main/mintpy/prep_aria.py#L477). Is this expected?

Could you please fill the rest parts (steps to reproduce and Desktop info) @totaibi01?

**To Reproduce**

Steps

[2020-11-05 05:18] dbekaert commented on #241
@yunjunz @totaibi01, thanks for spotting this, not expected behavior indeed. Could you perhaps also upload the stack vrt files for us to have a look at?

[2020-11-05 05:36] yunjunz commented on #241
Sure, here they are:
[cohStack.vrt.txt](https://github.com/aria-tools/ARIA-tools/files/5492172/cohStack.vrt.txt)
[connCompStack.vrt.txt](https://github.com/aria-tools/ARIA-tools/files/5492173/connCompStack.vrt.txt)
[unwrapStack.vrt.txt](https://github.com/aria-tools/ARIA-tools/files/5492174/unwrapStack.vrt.txt)

[2020-11-05 14:38] dbekaert commented on #241
@sssangha from the initial test you believe this would have impacted the coherence base diversion in Mintpy, but should be ok when have applied closure approach? @yunjunz thoughts?

[2020-11-05 14:39] dbekaert commented on #241
fixed per #242

[2020-11-05 14:39] #241 closed, assigned to sssangha, dbekaert, rzinke

[2020-11-05 19:27] yunjunz commented on #241
Both unwrapping error correction (bridging and phase closure) uses connected components as the basic unit, so its previous potential (not in Thamer's dataset at least) un-synchronized date12 order could lead to an improper correction.

The coherence-based weighting and unwrapping error correction should be the only scenarios that could be impacted.

[2020-11-06 00:18] dbekaert commented on #229
closed per #236

[2020-11-06 00:18] #229 closed, assigned to bbuzzanga

[2020-11-17 01:28] liulinan commented on #237
Hi there,

Since working on a small-size area (settlements of several buildings), I'm trying to download high-resolution DEM files. To my knowledge, 1/3 arc-second or higher resolution DEM files are available at https://viewer.nationalmap.gov/basic/. However, the downloaded files are in a different format. Does anyone know how to use such downloaded DEM files into ariaTSsetup? Or any other suggest

[2020-11-17 01:48] EJFielding commented on #237
The DEM files are read by ariaTSsetup using GDAL, so you need to get a GDAL ".vrt" file for your DEM. The ARIA standard interferograms have 3-arcsecond (~90 m) resolution, so using very high resolution DEMs won't make a difference in the time-series output.

[2020-11-17 01:55] dbekaert commented on #237
As Eric indicates, a GDAL compatible file should the trick (e.g. try a gdalinfo on the file). Also its assumed that the DEM file is ellipsoid corrected for intersection with the geometry information; that would be consistent with how the geometry information was computed. Generally it might be good to use a DEM in case you are aware of inconsistencies in the SRTM DEM v3. The product itself were mu

[2020-11-17 02:02] liulinan commented on #237
Thanks @EJFielding and @dbekaert ,
The reason I'm trying to use high resolution DEMs is the result I got looks like this. It looks speckled, rather than a smooth contour. Do you know what's going wrong? I guessed it may because of low resolution DEMs. But I'm not sure.
<img width="208" alt="Picture1" src="https://user-images.githubusercontent.com/60360410/99333667-c8170500-283d-11eb-9f94-1f128ea24

[2020-11-17 02:15] EJFielding commented on #237
I can see your velocity has pixels that are about 90 m across, so that is the resolution of the ARIA standard products. The speckle pattern means there is a lot of noise in the interferograms here. If you are including interferograms with long time intervals, then restricting your time-series analysis to interferograms with shorter intervals might help.

[2020-11-17 02:21] liulinan commented on #237
Got it, thanks @EJFielding. I'll try to shorten time intervals.

[2020-11-25 05:02] yunjunz opened #244 "[BUG] ampStack.vrt file missing after "ariaTSsetup.py --layers all""
**Describe the bug**

From the script help message, I would expect `ariaTSsetup.py --layers all` will generate amplitude / bPerpendicular / bParallel in a similar fashion as the coherence dataset. However,

+ `amplitude` folder is successfully generated with files inside, but a `stack/ampStack.vrt` file is missing.
+ `bParallel` folder is successfully generated with files inside, but a `stack/bPar

[2020-12-17 01:57] yunjunz commented on #244
The main issue of `ampStack.vrt` file has been fixed by #245. Thank you @sssangha. The `bParallel`/`bPerpendicular` folder does not seem important to me. Please feel free to close this issue if you like.

[2020-12-27 22:34] #244 closed, assigned to sssangha, dbekaert, rzinke

[2020-12-28 07:14] dbekaert opened #246 "2stage unwrapper through morphology"
Merged the developments from Giangi into the ARIA-tools extract class. Currently a first rough hack to bring it in sync with the existing code. Still needs more work.

Codes are on branch: "stitch_new"
[code]

# How to test it
Tested three examples. CA descending was corrected, Afar was already good and not adverse impacted. As expected, products with unwrapping errors within its own connected com

[2021-01-07 22:28] rzinke opened #248 "[BUG] DEM not recognized"
**Describe the bug**
ARIA-tools does not properly download and format the SRTM DEM files necessary.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
```ariaDownload.py -t 41 -s 20190114 -e 20190228 -w ARIAproducts```

2. Command used
```ariaTSsetup.py -f "ARIAproducts/*.nc" -w StitchedProducts```

3. Error Output
[code]

**Expected behavior**
Timeseries preparation

**Desktop (please

[2021-01-13 06:33] totaibi01 opened #250 "Error -2 while decompressing data: inconsistent stream state"
Hello ARIA team,

I'm working on the track 116 where I got the following error description:

Command used:
`ariaTSsetup.py -f 'products/*.nc' --mask Download -b "12 32 38 45" -d Download -mo 500000 -ml 5`

Error:
[code]

This error occurred during the download/cropping stage of the DEM.

Do you have any suggestions?

Thanks,
Thamer

[2021-01-14 00:58] bbuzzanga commented on #250
Can you post the logging output?

I believe this was addressed with PR https://github.com/aria-tools/ARIA-tools/pull/249.

[2021-01-14 21:13] totaibi01 commented on #250
Sure, please find it below:

[code]
I will double check the other resolved issue

[2021-01-18 06:13] totaibi01 commented on #250
I just resolved the problem. It was similar to the issue #249

Thanks @bbuzz31 for following up

[2021-01-18 06:13] #250 closed, assigned to sssangha, dbekaert, rzinke

[2021-02-02 22:45] #248 closed, assigned to sssangha, dbekaert, rzinke

[2021-02-09 20:16] rzinke opened #251 "[BUG] ASF bulk downloader error consistently occurs"
**Describe the bug**
When I use ```ariaDownload.py``` I have gotten this error four times in a row:

[code]

I am not sure if there's anything to be done about it on ARIA's end.

**To Reproduce**
Steps to reproduce the behavior:
1. ```ariaDownload.py -t 114 -w AllProducts```

**Desktop (please complete the following information):**
 - ARIA-tools git tag: commit cbd658fde4565287ab92c0550a267da59e08

[2021-02-09 21:31] dbekaert commented on #251
Try subsetting indeed. We are merely wrapping around their API.
Suggest you might also reach out to them directly.
You can use the print URL statement which is the call to their API.

Cheers,
D.

On Tue, 9 Feb 2021 at 12:17, rzinke <notifications@github.com> wrote:

[2021-02-13 23:59] EJFielding commented on #209
Now that the Nepal D019 data has been transferred to ASF, I have a large number of duplicated scenes after downloading. I was thinking it would be helpful to add a version number selection option to `ariaDownload.py`. It could save a lot of time and disk space to not download obsolete files.

[2021-02-14 05:57] dbekaert commented on #209
The following steps are needed to make that change.
Perhaps if you feel comfortable you could try it?
Happy to check if you need help.

1. Add an argument to the argparser:
That would be here:
https://github.com/aria-tools/ARIA-tools/blob/cbd658fde4565287ab92c0550a267da59e088435/tools/bin/ariaDownload.py#L26

2. You would need to split the filename based to get the version out of it.
We keep vLarg

[2021-02-24 04:04] EJFielding commented on #209
After moving the older version `*v2_0_2.nc` files to a different directory, I still have a lot of duplicates from this track. I understand this was an AOI processed in two different ways, so it seems it ended up with duplicate scenes that have the same version but different processing hashes. The older versions are less than a quarter of the duplicates.

[2021-02-24 04:10] dbekaert commented on #209
@EJFielding, this was related to test production on HEC where localized SLC  are used  versus S3 SLC. The full path and filename to the same SLC were different and thus let to a different hash. Really, the  "inputs" safe files did not really change just their paths.ARIA-SDS looked into this to make sure its fixed. No way to handle this in ARIA-tools different than the way we currently do. Other re

[2021-02-24 04:15] EJFielding commented on #209
It does not seem worth trying to add code to `ariaDownload.py` to handle the different versions if this is a special case that won't affect other datasets. It is excellent that `ariaTSsetup.py` detects and lists the duplicates, then ignores them to make a time-series input dataset without duplication.

[2021-04-30 01:40] bbuzzanga opened #258 "[BUG] setup.py installs to the wrong conda environment"
after installing with `python setup.py build install` the shebang on the bin files points to the wrong conda environment

for example, here is `/Users/bb/Miniconda3/envs/ARIA/bin/ariaExtract.py`
[code]

where `MintPy` is a different conda environment I have installed on my system.

ariaExtract.py then fails:
[code]

Note that `which python` returns the correct instance (in the ARIA environment).

[2021-04-30 01:49] bbuzzanga opened #259 "[BUG] amplitude threshold not updated after rerunning"
the amplitude masking is performed by multiplying the watermask and overwriting it. if the watermask already exists, it's overwritten. This is problematic when, for example, trying to experimentally determine the correct amplitude threshold, as if you start with e.g. `amp_thresh=1000` and then `amp_thresh=100` the mask will not change.

To reproduce by downloading and creating mask with 5 products

[2021-05-04 16:41] Alex-Lewandowski opened #262 "gdal version no longer seems to need pinning in environment.yml"
**Describe the bug**
I was trying to create a conda env that would suport ARIA-Tools, MintPy, and ISCE2. Pinning gdal to >=3.0, <=3.0.4 caused dependency issues. I removed the pinned version, it installed gdal 3.2.1, and ARIA-Tools seems to run fine. To be more accurate, I removed gdal altogether, since conda installed it as a dependency anyhow.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-05-04 17:44] bbuzzanga commented on #262
Hi @Alex-Lewandowski thanks for noticing this. @sssangha changed the gdal dependency to be just >3.1.2 in #254, which has been propagated to #261.

I made a quick test to see if we could entirely remove gdal entirely, but codacy flagged an error. As far as I can tell, gdal isn't installed by any dependencies in ARIA-tools or MintPy, so needs to remain in our `.env`.

I think with PR #254 you shoul

[2021-05-04 18:31] dbekaert commented on #262
Agreed with the above. #254 is ready to be merged.

[2021-05-04 18:31] #262 closed, assigned to sssangha, dbekaert, rzinke

[2021-05-04 18:32] dbekaert commented on #251
Did not hear back so closing this as a DAAC issue

[2021-05-04 18:32] #251 closed, assigned to sssangha, dbekaert, rzinke

[2021-05-04 18:34] dbekaert opened #263 "Adding a version number for ARIA-tools"
perhaps for released version add a version number.

Perhaps for GitHub dev version report the tag of the latest commit and date of the tag.
Print this input for each ARIA-tools main run.
This will make it easier on OSL and debugging.

[2021-05-04 18:35] dbekaert commented on #258
@bbuzz31 is this addressed in your latest PR?

[2021-05-06 16:48] bbuzzanga opened #264 "Replacing ASF resolving urls with the final resolved"
Currently trying to replace the ASF URLs (i.e. https://grfn.asf.alaska.edu/door/download/S1*.nc) with the final resolved URL, as per ACCESS discussion.

Any guidance on identifying the resolved URL from the output of `wget https://grfn.asf.alaska.edu/door/download/S1-GUNW-A-R-004-tops-20191214_20191202-230840-45104N_43235N-PP-af62-v2_0_2.nc` would be much appreciated.

Here is the output:

[code]

[2021-05-06 16:49] bbuzzanga commented on #264
We'd hope we could simply grab the last URL, but that doesn't seem to work:
[code]

[2021-05-06 17:56] asjohnston-asf commented on #264
ASF here.  The final distribution URL is a [CloudFront signed URL](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-signed-urls.html) that is only valid for 15 seconds.  They're generated dynamically with each request.  As things are currently implemented you won't be able to predict what the final resolved download URL will be, and you won't be able to cache/reus

[2021-05-07 00:36] bbuzzanga commented on #264
Hi @asjohnston-asf thanks for the info. We were hoping that the CloudFront URL was valid for much longer, and that we could then do our processing with those URLs instead of the self-resolving ones. Our working hypothesis is that the virtual data processing is taking longer than physically downloading it because of the URL redirects. Looks like this is a dead end though, thanks.

[2021-05-07 00:41] asjohnston-asf commented on #264
The authentication component can take a second or two per request, so you'd definitely want to re-use any cookies across subsequent requests to avoid having to re-authenticate with every request.  If you're already authenticated, I'd expect the one redirect to the signed url to only take tens of milliseconds, maybe hundreds of milliseconds.

[2021-05-07 00:45] asjohnston-asf commented on #264
For example, in your initial post, there are a total of seven URLs invoked.  If you were already authenticated (via --save-cookies and --load-cookies, for example), that would be reduced to only final two.

[2021-05-07 00:57] dbekaert commented on #264
@asjohnston-asf

As part of the NASA ACCESS cloud enabling InSAR science proposal that JPL-ASF was awarded we are trying to identify and adress some of these bottlenecks. In short we are trying to find out more efficient ways to process alongside the data while removing the need for actual download. Currently we are testing this for the GRFN data eventually will do the same for Sentinel-1 etc.

To

[2021-05-07 01:18] asjohnston-asf commented on #264
Thanks for the context, that helps a lot.

Those are the cookie variables I was going to suggest for /vsicurl, so you're probably already good there.  Disregard my fears of re-authenticating multiple times.

I agree if you're making many requests against the file, the redirect processing could hurt performance.  As an experiment, I've uploaded that same file to a public URL, without any authentica

[2021-05-19 17:01] bbuzzanga commented on #258
This seems to be resolved by removing the build folder and rerunning.

[2021-05-19 17:01] #258 closed, assigned to nobody

[2021-05-19 18:30] dbekaert commented on #264
@asjohnston-asf did not yet have the time to look at this, we are targeting this next.

[2021-05-20 17:39] bbuzzanga opened #265 "[BUG] DEM download fails for large areas"
**Describe the bug**
ARIA area calculation for DEM extent to decide whether to chunk or not does not match the SRTM servers.
Relevant line is 349 in extractProduct.py

Note the area calculation (`shapefile_area`) is correct.

**To Reproduce**
Steps to reproduce the behavior:
1. `ariaDownload.py -t 004 -s 20191201 -e 20200101` # 13 products
2. `ariaExtract.py  -f "./products/*.nc" -l all -w . -d Do

[2021-05-20 23:18] bbuzzanga commented on #264
Thanks for uploading, surprisingly it's still quite a bit slower.
Would you be able to upload a few more products so I can check on time series prep?

![Screen Shot 2021-05-20 at 4 17 09 PM](https://user-images.githubusercontent.com/15522503/119060356-e0034900-b986-11eb-9c93-463b907fb2fe.png)

[2021-05-21 00:37] asjohnston-asf commented on #264
Sure, if you post a list of scenes I can make them available

[2021-05-22 18:41] bbuzzanga commented on #265
In #269 I put in a hack to initialize downloading in chunks if the area we calculate is greater than 80000 km^2, which solves the problem (for now at least).

[2021-05-22 18:52] bbuzzanga commented on #263
I've added this feautre in #269.

It's not fully correct, in that it gets version v1.1.0 instead of 1.1.1, but this is problem with the git history.

If you run `git log --no-walk --tags --pretty="%h %d %s" --decorate=full`, you'll see the three tagged versions, and that the latest version is tagged to commit `45ebfb5`. You can check out `45ebfb5` with no problem (`git checkout 45ebfb5`).

But if

[2021-05-22 18:53] bbuzzanga commented on #259
This is addressed with #269

[2021-05-22 18:53] #259 closed, assigned to nobody

[2021-05-22 19:00] bbuzzanga commented on #216
Added in #269

[2021-05-24 15:55] bbuzzanga commented on #264
Great, thanks!
[code]

[2021-05-25 13:28] #216 closed, assigned to nobody

[2021-05-25 13:30] dbekaert commented on #263
ok if we can do a brief test and document the **version** of ARIA-tools and mintpy that is compatible then we can cut new release,

[2021-05-25 13:30] dbekaert commented on #225
@nabolfat were you able to solve this issue, if so could you contribute a small section on how to fix it?

[2021-05-25 23:01] nabolfat commented on #225
@dbekaert
Yes, this issue was solved. Sorry for not following it up here. The problem was with the update in the installation. The details are already discussed in issue #226 .

[2021-05-25 23:12] #225 closed, assigned to nobody

[2021-05-26 00:32] asjohnston-asf commented on #264
Done, all eight scenes are available via
[code]

[2021-05-29 17:04] jlmaurer opened #270 "[BUG] ariaExtract: multi-looking results in all nans in the geometry files"
**Describe the bug**
Running ariaExtract.py with -ml option set to 2 results in all invalid pixels in the geometry files (incidenceAngle, lookAngle, azimuthAngle, bParallel, bPerpendicular)

**To Reproduce**
Steps to reproduce the behavior:
1. Download a set of ARIA interferograms and put them in products/
2. Create an 'output' directory to store products
3. Command used: ariaExtract.py -f 'produc

[2021-06-01 20:29] bbuzzanga commented on #270
@jlmaurer following up the discussion we had in the meeting today, an easy test to see if the issue is the overlap is to just run without multi-looking and see if the invalid pixels are still present.

[2021-06-01 20:45] jlmaurer commented on #270
Hi @bbuzz31 thanks for that! I checked both versions (no multi-looking and with multi-looking). The image shows that the full-res file seems to work just fine (with of course invalid pixels outside the bounds of the frame). Not sure whether this makes sense based on what you were saying?

Command for hi-res version:
[code]

Command for lo-res version:
[code]

The images are the interferograms prod

[2021-06-01 20:56] bbuzzanga commented on #270
Thanks for sharing. I think this means that the minimum overlap is NOT the problem, perhaps @sssangha can comment.

The next easiest place to check for bug would probably be the masking. The value 0 was recently introduced to represent nans following MintPy, which I noticed caused a bug in tsPlot

[2021-06-17 14:34] ulloa18 opened #271 "issue when running ariaDownload.py -h"
Hi,

I am trying to install and run Aria-tools on an Ubuntu 21.04 VM (Windows 10 Host).
I followed the steps mentioned in the ReadMe file:

- clone git repo
- create new environment with anaconda using environment.yml
- activate new environment
- install all the dependencies
- build and installing using setup.py file
- saving to PYTHONPATH and PATH

The problem I encounter is that when I run on a

[2021-06-17 22:02] bbuzzanga commented on #271
hi @ulloa18, you need to install to the created conda environment and use it. `File "/usr/local/bin/ariaDownload.py", line 19` indicates a problem in your conda setup

[2021-06-23 21:01] yunjunz opened #273 "[BUG] pkg_resources.DistributionNotFound for print version"
**Describe the bug**
Hi ARIA-tools team, it seems like the recent print version (#269) is not working for me. Attached below is the printout msg from ariaDownload.py, and several other (did not try all) scripts are having the same error as well.

FYI, I use the requirements.txt file to install the dependencies and manually setup the PYTHONPATH and PATH environment variable, without using setup.py.

[2021-06-23 22:13] dbekaert commented on #273
@bbuzz31 could you look into this?
I though you added a try except for it such in case of failure it would pass.

[2021-06-23 22:14] dbekaert commented on #273
@yunjunz how do you currently capture the Mintpy version?

[2021-06-23 22:25] yunjunz commented on #273
@dbekaert mintpy calls `git describe --tags` and `git log -1 --date=short --format=%cd` commands for this purpose (https://github.com/insarlab/MintPy/blob/main/mintpy/version.py#L11).

It produces 1) a version number, e.g. `v1.3.0-20`, where "v1.3.0" is from the released version tag, and "20" is the number of commits since the released version tag and 2) a date for the last commit.

[2021-06-24 00:43] bbuzzanga commented on #273
I actually started our implementation based of MintPy’s. It’s slightly different since we use setup.py; I didn’t test the version fetcher on an install without it, but should be an easy patch.

[2021-06-26 15:01] dbekaert commented on #273
Fix should be merged now.

[2021-06-26 15:01] #273 closed, assigned to bbuzzanga

[2021-06-26 15:02] dbekaert commented on #209
@sssangha and @bbuzz31 believe this is accounted.
Can you detail where and how its being handled for record keeping.

[2021-06-26 15:02] #263 closed, assigned to bbuzzanga

[2021-06-26 15:03] dbekaert commented on #264
closing this as not possible. We will pursue the discussion through JPL-ASF ACCESS proposal and future directions

[2021-06-26 15:03] #264 closed, assigned to nobody

[2021-06-28 18:03] rzinke commented on #265
Hi @bbuzz31, I am still getting an error from this after updating to the most recent version of AT and reinstalling.

[code]

Oddly, this area is smaller than some of the ones I had been running previously.

Here is my launch command:

[code]

And here is the error:
[code]

[2021-06-28 18:16] bbuzzanga commented on #265
Hey @rzinke. This has something to do with files and/or variables being incorrectly re-used. Haven’t tracked it down yet, but it should work if you start from a clean directory. Although, this may be overkill; pretty sure it will work if you run again after removing just the `productBoundingBox` directory.

[2021-06-28 19:12] rzinke commented on #265
I removed the productBoundingBox and reran, but that didn't work. I get the same error.

[2021-06-28 19:21] bbuzzanga commented on #265
Doesn’t look like you’re on the latest branch:

[2021-06-28 20:37] rzinke commented on #265
I updated to the latest branch and reran ```setup.py```:

[code]

I then cleared the old work directory.

Same error message.

[2021-06-29 15:12] bbuzzanga commented on #265
Can you provide a MWE?

I.e., an ariaDownload command with a subset of the products to recreate the error and as few flags as possible?
Does the bug still occur without masking and/or multilooking? On a single thread?

Also, what is contained in the erroneous file?

[2021-07-13 15:52] dbekaert commented on #271
We have not tested ARIA-tools on Windows.
- If you are setup.py with build and install, then there should be no need to set the python path and path.
- If you are using setup.py with just build, then you would need to add the PATH and PYTHON PATH

Can you provide additional information on how you are installing perhaps with the command you use?

[2021-07-13 15:54] dbekaert commented on #265
Also when reporting the minimum working example, you would need to add in the information like the shapefile etc.

@rzinke:
- can you confirm if this an issue on ARIA-tools or on Open Topo
- Can you clarify if this is transient, gets resolved upon re-run.
   If so, perhaps could you check if the open topo API comes with a check if tiles are correctly downloaded?

[2021-07-13 16:02] rzinke commented on #265
I can take a look next week, I'm out of the office at the moment.
Still an issue for me and happy to help debug.

[2021-07-14 20:11] bbuzzanga commented on #199
This has previously been added in ariaExtract and ariaDownload

[2021-07-14 20:11] #199 closed, assigned to nobody

[2021-07-19 23:06] sssangha commented on #270
@jlmaurer @bbuzz31 in my latest PR #275 , I am able to confirm that the multilooked fields are no longer empty:
<img width="569" alt="Screen Shot 2021-07-19 at 3 34 21 PM" src="https://user-images.githubusercontent.com/13227405/126235937-5e6946a0-5198-408c-a50e-9c47c86844b7.png">

[2021-07-19 23:15] jlmaurer commented on #270
@sssangha that's great! What was causing the issue?

[2021-07-19 23:29] sssangha commented on #270
@jlmaurer I should clarify that while I wasn't able to replicate your exact issue. There were problems with attempting to download and manage large DEMs because the product shapefiles were being leveraged as opposed to the actual broader, grid extent of the region. It is possible this may translate to empty fields downstream, but I wasn't able to replicate it after my fixes.

[2021-07-20 15:52] dbekaert commented on #271
closing it as no additional details provided. Can be re-opened if needed

[2021-07-20 15:52] #271 closed, assigned to sssangha, dbekaert, rzinke

[2021-07-20 15:53] dbekaert commented on #270
@jlmaurer could you use PR #275 to see if this is still an issue?

Perhaps start clean to ensure no historic processing would add contamination

[2021-07-20 15:54] sssangha commented on #265
Hello @rzinke , my latest PR #275 adjusts chunking for DEMs. Please let me know if this helps.

[2021-07-22 15:40] rzinke commented on #265
That appears to have fixed the issue. Will update you if I find out otherwise.
Cheers.

[2021-07-23 19:30] bbuzzanga opened #276 "[BUG] GACOS products aren't applied"
Applying GACOS products fails

Issue 1
GACOS products are distributed (or at least I received) `.tif` files.
`tropo_correction` in `extractProduct.py` only counts `.vrt` extensions as valid files.
I implemented a workaround for this.

Issue 2
`tropo_correction` in `extractProduct.py` looks to extract metadata from `.rsc` files that are not present.

These function is rife with nested list comprehe

[2021-07-26 07:43] sssangha commented on #276
@bbuzz31 I could go ahead and replicate what I implemented to handle the new tif formats that are distributed through GACOS (https://github.com/insarlab/MintPy/commit/6c85534f104f92f7b70c305ce85dcad4f19d6aa6#diff-018e1d39e3d396c6ccac133a8f25b924a12f16bc84f5409b5186edf52a4d7929) but it looks like I can't access the data I used to debug that PR.

Could you please send me a couple of example GACOS pr

[2021-07-26 19:06] bbuzzanga commented on #276
@sssangha thanks for having a look. I sent you a folder via email with what you need

[2021-07-27 06:18] sssangha commented on #276
@bbuzz31 check out the updates to PR #275

I added support for the new TIF files.

Unfortunately, the TIF files no longer track the UTC times so for these products the code is unable to confirm whether or not the products are within the range of expected time vis-a-vis the standard product acquisition times. So until this is potentially resolved on the GACOS end, it is the user's responsibility to

[2021-07-28 01:27] bbuzzanga commented on #276
@sssangha thanks! LGTM

[2021-07-29 12:49] #276 closed, assigned to sssangha

[2021-07-29 12:50] dbekaert commented on #270
@jlmaurer we will cut a release for ARIA-tools, but want to make sure this is not an issue. Could you give it another test when you are back from holiday?

[2021-07-29 18:18] jlmaurer commented on #270
@sssangha @dbekaert I pulled the latest changes and also using the later version of GDAL. I think the issue has something to do with the DEM; the uncropped DEM is fine but the cropped and multi-looked DEM is all NaNs.

[2021-07-29 19:05] sssangha commented on #270
@jlmaurer Brett appears to have replicated your issue with an older version of gdal (3.1.4), so I did a completely new install where I rebuilt the environment from scratch (ended up with goal 3.2.1), and find that this issue does not arise. See DEM and incidence angle below:
<img width="318" alt="Screen Shot 2021-07-29 at 11 56 33 AM" src="https://user-images.githubusercontent.com/13227405/1275511

[2021-07-29 19:18] jlmaurer commented on #270
@sssangha that is a good point, I will try rebuilding the environment from scratch and see if that works.

[2021-07-29 19:19] bbuzzanga commented on #270
@sssangha I rebuilt from scratch with gdal v3.1.2.
I'm now encountering an error message.

Also, I've noticed you aren't running on the same track. May be better to focus on one before testing on others.
[code]
Errors:
[code]

Note the black squares in this _UNCROPPED_ DEM and the weird black line through the middle. Is something not getting stitched correctly?

![image](https://user-images.github

[2021-07-29 20:00] sssangha commented on #270
@bbuzz31 I tried it again using your track and commands, and didn't encounter the same issue nor found a gap in my DEM. Below are the DEM and azimuth angle field:
![Screen Shot 2021-07-29 at 1 14 35 PM](https://user-images.githubusercontent.com/13227405/127559631-86d21deb-04a3-4591-bd23-8d5bc97096fa.png)
![Screen Shot 2021-07-29 at 1 14 41 PM](https://user-images.githubusercontent.com/13227405/127

[2021-07-29 20:04] sssangha commented on #270
@bbuzz31 as a follow-up, I think it would be best for me to share a record of this environment here that you can use directly.

[stabletools_environment.txt](https://github.com/aria-tools/ARIA-tools/files/6903313/stabletools_environment.txt)

[2021-07-29 21:48] bbuzzanga commented on #270
@sssangha running in a clean environment with gdal=3.2.1 solves the problem for me now!

[2021-07-29 21:51] dbekaert commented on #270
Thanks for confirming @bbuzz31

[2021-07-29 21:51] #270 closed, assigned to sssangha, dbekaert, rzinke

[2021-07-29 21:52] dbekaert commented on #265
Thanks for confirming @rzinke

[2021-07-29 21:52] #265 closed, assigned to sssangha

[2021-07-29 21:52] dbekaert commented on #209
@sssangha I understand this is now implemented too? If so, can you close this Issue ticket?

[2021-07-29 22:07] sssangha commented on #209
@dbekaert that is correct, this was implemented by an earlier PR of mine this week. Handled at both the downloading stage and again captured by plotting/extracting/tssetup stage, if necessary.

[2021-07-30 00:51] #209 closed, assigned to nobody

[2021-10-07 00:13] rzinke opened #283 "[BUG] Output url option not working"
**Describe the bug**
I am trying to process some data without downloading the standard products. I get two different errors when I try, however.

**To Reproduce**
Steps to reproduce the behavior:
1. Download
[code]

2. Command used
[code]

3. Interestingly, I get two errors:

First, when I try to run ```ariaTSsetup.py``` using a Linux screen, I get the following error:
[code]

Second, when I try i

[2021-10-07 03:38] dbekaert commented on #283
Hi Rob,

This is not a bug of virtual processing not working.
Rather it seems that when executed in a screen the error message is
correctly propagated.

The second error message is correct and as indicated shows you are not
meeting the requirements to support virtual data processing.
Kernel requirements would be satisfied under OS centos 8, hence virtual
processing was developed on OSL not on JPL

[2021-10-07 03:49] rzinke commented on #283
I see. So I'd have to use a more recent OS to use this option?

[2021-10-07 03:50] dbekaert commented on #283
That is correct, your only current option using that system is to download
the data.

On Wed, 6 Oct 2021 at 20:49, rzinke ***@***.***> wrote:

[2021-10-07 03:52] rzinke commented on #283
Thanks for clarifying, @dbekaert

[2021-11-29 19:04] #283 closed, assigned to sssangha, dbekaert, rzinke

[2021-12-06 17:54] EJFielding opened #288 "[BUG] ModuleNotFoundError: No module named 'asf_search'"
**Describe the bug**
The ariaDownload script is trying to import 'asf_search'.
ModuleNotFoundError: No module named 'asf_search'

**To Reproduce**
Steps to reproduce the behavior:
1. I ran a git pull to get latest version, activated the environment, and then ran 'python setup.py install'.
2.  ariaDownload.py -b '37.25 38.1 -122.6 -121.75' --track 42
[code]
**Expected behavior**
A clear and concise

[2021-12-06 18:02] bbuzzanga commented on #288
Hi @EJFielding, since you're using an existing environment the updates to the environmental file won't automatically install.

However, `conda install asf_search` in your activated environment should fix the problem

[2021-12-06 18:09] EJFielding commented on #288
Thanks for the quick reply @bbuzz31. That worked on my MacOS installation that I had not used for many months and only updated now.

The NISAR on-demand environment setup is supposed to include everything but I guess that was added recently.

[2021-12-06 18:13] EJFielding commented on #288
On the NISAR on-demand system I had to run `conda install -c conda-forge asf_search`

[2021-12-06 18:47] EJFielding commented on #288
I had some downloads fail due to connection reset. I am rerunning the download and the `aria_search` complains that the files exist:
[code]
I am going to open a new issue about this as I got the same result on my Mac.

[2021-12-06 21:00] EJFielding opened #289 "[BUG] ariaDownload 1.1 fails when files exist"
**Describe the bug**
The old version of ariaDownload would ignore files that already exist. The ariaDownload 1.1.0 quits when it finds files that already exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the standard SF ARIA tutorial data
2. Command used: `ariaDownload.py -b '37.25 38.1 -122.6 -121.75' --track 42`
3. Error Output:
The first time I ran the download it had three

[2021-12-08 02:15] #288 closed, assigned to sssangha, dbekaert, rzinke

[2021-12-08 02:19] bbuzzanga commented on #289
Hi @EJFielding. This is not an `ariaDownload` problem but an issue with asf_search. I also found it when I updated the `ariaDownload` wrapper a month or two back (https://github.com/asfadmin/Discovery-asf_search/issues/65). It's hacky to implement in the wrapper, so I'd rather have them more robustly handle it (to include partial downloads, etc) as they did in their previous bulk downloader. If yo

[2021-12-08 19:26] EJFielding commented on #289
Thanks for the explanation. I added a comment of support for fixing this upstream.

[2022-01-08 02:34] sssangha opened #291 "Speed-up virtual data processing"
As discussed with @ehavazli @rzinke @bbuzz31 @dbekaert, we aim to benchmark virtual data processing with the following approaches (which are to be captured in PR #290):
~~1. Toggle `GDAL_DISABLE_READDIR_ON_OPEN` option in `unwrapStitching.py` code, which seems to be a significant bottleneck. Preliminary benchmarking efforts from Brett suggest significant improvements in speeds. He will update us w

[2022-01-12 01:54] sssangha commented on #291
Updated action items:
1. Where possible, instead of using `gdal.Open` to access metadata info, use `gdal.Info`

2. Replace gdalWarp with cutline and find a workaround with gdal. Translate or add a mask band with cutline.

3. add NUM_THREADS where possible to gdal.Warp and others.

4.

[2022-01-20 20:13] rzinke commented on #265
Hello, I am still getting this error.

[code]

gives the error:
[code]

I have updated to the latest version:
[code]

[2022-01-20 22:06] bbuzzanga commented on #265
I think this is something to do with openTopo.

The tif file says we need an API key

vi ./DEM/SRTM_3arcsec_0_uncropped.tif:
 `<?xml version="1.0" encoding="UTF-8" standalone="yes"?><error>Error: This dataset requires an API Key for access.</error>`

[2022-01-20 22:22] sssangha commented on #265
@rzinke @bbuzz31 yeah, I am also getting this error with an independent test run that worked just a couple days ago or so... We will have to investigate this/potentially tweak fetching from openTopo again

[2022-01-24 03:00] EJFielding commented on #289
It seems the upstream fix works now.

[2022-01-24 03:00] #289 closed, assigned to sssangha, dbekaert, rzinke

[2022-01-24 20:29] bbuzzanga opened #292 "[BUG] DEM download now requires an API Key"
The changes upstream at open Topo prevent us from downloading SRTM dems without an API Key.
- See: https://opentopography.org/developers

We now have to add the custom API_Key to the URL string of our DEM, i.e.,:
[code]
This is no problem.

However, we will need to decide how we want the user to store their keys for us to access them.
It seems the common secure ways are to
1) store the key in a fi

[2022-01-26 00:46] sssangha commented on #292
PR #293  implements the former option, specifically aria-tools now accesses the API key from a `~/.topoapi` file... The installation section of the readme is also updated to reflect definition of this `~/.topoapi` file

[2022-02-17 01:50] #292 closed, assigned to sssangha, dbekaert, rzinke

[2022-04-04 23:08] yaohanze opened #297 "[BUG]"
**Describe the bug**
computeMisclosure.py has a bug in the definition of stack class.

**To Reproduce**
Steps to reproduce the behavior:
With current code, initialize a new stack object will raise the error stack project doesn't have attribute 'verbose'.
So I check the code of computeMisclosure.py starting from line 132.
After adding this line "self.verbose = verbose", the problem is fixed.

[2022-04-05 00:43] rzinke commented on #297
Thank you for pointing that out and suggesting a fix, @yaohanze. I uncovered another bug and I'm fixing that now.

[2022-05-03 18:31] bbuzzanga commented on #297
Hey @rzinke can you update on status? Is this fixed as part of https://github.com/aria-tools/ARIA-tools/pull/298 or does more need to be done?

[2022-05-03 20:46] rzinke commented on #297
Issue is fixed with #298.

[2022-05-13 12:03] hekungeo opened #304 ""/usr/bin/sh: 1: ariaDownload.py: not found""
Hi

I am using the ariaDownload_tutorial.ipynb.
and it shows "/usr/bin/sh: 1: ariaDownload.py: not found"

I have finished the steps mentioned in the ReadMe file.

Did I put the ARIA-tools folder in the wrong directory?

Thanks in advance.

[2022-05-26 18:08] bbuzzanga commented on #304
If you installed ariaTools via the recommended `python -m pip install . ` then you likely didn't activate the conda environment before running the jupyter notebook.

If you installed another way, you will need to make sure that the bin folder containing `ariaDownload.py` is on your system path (check with `echo $PATH` on linux)

[2022-05-26 18:08] #304 closed, assigned to nobody

[2022-05-26 18:10] bbuzzanga opened #305 "[WANTED FEATURE] progress bar for downloading"
make a status bar that shows the progress of downloading products with  `ariaDownload.py`

[2022-06-10 23:14] rzinke opened #307 "Update mode: SetMetadataItem"
**Describe the bug**
I am trying to prepare a series of ARIA standard products for timeseries processing. The products come from Tibet track 150.
A-T makes it through most of the necessary layers, but then barfed when attempting to create the perpendicular baseline layer.

[code]

**To Reproduce**
This could be difficult to reproduce due to the large number of files involved. I am working on a rep

[2022-06-10 23:32] bbuzzanga commented on #307
this is a result of the recent update to GDAL (3.4.2 I think?) and addressed (for now) in this https://github.com/aria-tools/ARIA-tools/pull/306

The temporary fix is just forcing gdal < 3.4.2 in the environment file. You can try to do `conda install gdal=3.4.2` in your current environment but I find this can mess up library bindings.

Recommend you pull [that](https://github.com/aria-tools/ARIA-t

[2022-06-14 01:36] sssangha commented on #307
@rzinke I've tried out the changes Brett made to the environment and it works on my end. As a sanity check, could you please confirm on your end and then close this ticket? Thanks!

[2022-06-14 01:39] rzinke commented on #307
Thanks @bbuzz31 and @sssangha , I am verifying now.

[2022-06-14 23:32] rzinke commented on #307
Reinstalling with the PR #306 did the trick. Thanks.

[2022-06-22 07:16] KASHKASHOPTIMUS commented on #271
I am using GIT BASH in windows, having the same problem though i save the path and python path the jupyter notebook. please can someone confirm the way of saving path and python path i feel i might have made a mistake there.
![111](https://user-images.githubusercontent.com/107583734/174967617-86a33682-8f44-478b-af8a-bbee4548bdf0.JPG)

[2022-06-22 07:20] KASHKASHOPTIMUS commented on #271
![677](https://user-images.githubusercontent.com/107583734/174968101-3e686f1e-b120-4c52-a61f-cfe58d4e95a5.JPG)
please can someone explain how to do the second half of this paragraph

[2022-06-22 22:54] rzinke opened #308 "[BUG] Bbox error when filtering by minimum overlap"
**Describe the bug**
To plot the spatial extent of my ARIA products, I am attempting to filter out scenes using the "minimum overlap" threshold (```-mo``` option in ```ariaPlot.py```). Doing so causes the error described below, indicating that the productBoundingBox for one or more pairs of dates returns "NoneType". It is worth noting that when I use the ```-croptounion``` option, or set the ```-m

[2022-06-22 22:56] rzinke commented on #308
[Track048_Tibet_AOI.zip](https://github.com/aria-tools/ARIA-tools/files/8962280/Track048_Tibet_AOI.zip)

Here is the AOI shapefile that I used.

[2022-06-22 23:32] rzinke commented on #308
It appears that 20161015_20160706 and several other date pairs appear twice in the ```product_dict```, i.e.,

Product dict
./productBoundingBox/20160424_20160331.json
./productBoundingBox/20160425_20160401.json
./productBoundingBox/20160519_20160424.json
./productBoundingBox/20160612_20160331.json
./productBoundingBox/20160612_20160519.json
./productBoundingBox/20160706_20160401.json
./productBoun

[2022-06-23 00:34] rzinke commented on #308
When I specify a much smaller minimum overlap area (```-mo 25000```, i.e, 1/10th the previous area), the script runs to completion.

[code]

Here are the outputs:
[code]

Notice how none of the date pairs that appear twice (e.g., 20161015_20160706) are rejected this time. So maybe ```merged_productbbox``` is having trouble recording the rejected scenes.

[2022-06-28 23:37] rzinke opened #309 "[BUG] Products not found to overlap, although they should"
**Describe the bug**
I am running ```ariaTSsetup.py``` on a large number of frames. The frames appear to be spatially continuous based on the ```ariaPlot.py``` results. When I run the TS setup routine, however, I get the error message: ***ERROR: Products do not overlap or were not provided in a contigious sorted list.***

**To Reproduce**
Steps to reproduce the behavior:
1. Download
[code]

2. Com

[2022-06-29 00:31] rzinke commented on #309
[Shapefile.zip](https://github.com/aria-tools/ARIA-tools/files/9006286/Shapefile.zip)
Here is the shapefile I used.

[2022-07-05 20:41] scottstanie opened #310 "[BUG] ASF Search library now expects WKT string to geo_search"
**Describe the bug**
A clear and concise description of what the bug is.

Following an example notbook, I ran `ariaDownload.py -b '37.25 38.1 -122.6 -121.75' --track 42` and got this error:

[code]

The issue is `return geos.WKTReader(geos.lgeos).read(data)` is getting passed a shapely Polygon (from ARIA Tools). I'm not sure if ASF search used to accept/expect that, but now they don't check for th

[2022-07-05 20:47] bbuzzanga opened #312 "[BUG] check that duplicate products are handled correctly in both ariaDownload and ariaProduct/extract"

[2022-07-05 21:57] bbuzzanga commented on #310
@scottstanie thanks for finding and the fix

[2022-07-05 22:00] bbuzzanga commented on #310
@jhkennedy @SpicyGarlicAlbacoreRoll would it be possible to put an `ariaDownload` run into the testing suite of ASF_search? there are no non-standard dependencies in ariaDownload except for a logging and small function in ariaTools

[2022-07-06 04:59] sssangha commented on #307
@rzinke looks like this had been resolved. Will close the ticket.

[2022-07-06 17:46] jhkennedy commented on #310
@bbuzz31 `asf_search` just a a [major](https://semver.org/) release, meaning they indicated they were possibly making incompatible API changes. Fix is either pinning to the previous major version or updating behavior (typically both; quick fix and then long term fix)

In general it's not the responsibility of a library/package to test behavior of down stream usage. It'd be better to put a unit tes

[2022-07-06 18:55] bbuzzanga commented on #307
reopening as forcing an older gdal version not a satisfactory solution

[2022-07-07 17:06] #310 closed, assigned to sssangha, dbekaert, rzinke

[2022-07-25 18:13] KASHKASHOPTIMUS commented on #307
I am facing the same issue, applied PR #306 but issue not resolved

[2022-07-25 23:20] bbuzzanga commented on #307
You’ll need to reinstall ARIA-tools into a fresh conda environment, or manually try to downgrade gdal in the existing environment with ARIA-tools (e.g., conda install `gdal=3.4.2`)

[2022-07-26 21:46] KASHKASHOPTIMUS commented on #307
The environment file is taking so long to run. Why is that?

Thanks & Regards,
Kashyap
________________________________
From: BB ***@***.***>
Sent: Monday, July 25, 2022 6:20:52 PM
To: aria-tools/ARIA-tools ***@***.***>
Cc: Kashyap, Machiraju ***@***.***>; Comment ***@***.***>
Subject: Re: [aria-tools/ARIA-tools] Update mode: SetMetadataItem (Issue #307)

[External]

You’ll need to reinstall ARIA-

[2022-07-27 19:08] KASHKASHOPTIMUS commented on #307
I followed the instruction and reinstalled everything but this time ARIAtools egg_info is not in the folder also when I run the setup.py in the tools/ARIAtools folder I get the following error
![1223](https://user-images.githubusercontent.com/107583734/181352704-11207330-ef59-4a55-98bd-34a2e51b6b80.JPG)

[2022-07-27 21:05] bbuzzanga commented on #307
Please follow instructions per readme. you shouldn't be manually running setup.py. Use  `python -m pip install .`

Note that we don't test on windows.

[2022-07-27 21:06] KASHKASHOPTIMUS commented on #307
I tried that too giving me the same error

Thanks & Regards,
Kashyap
________________________________
From: BB ***@***.***>
Sent: Wednesday, July 27, 2022 4:05:41 PM
To: aria-tools/ARIA-tools ***@***.***>
Cc: Kashyap, Machiraju ***@***.***>; Comment ***@***.***>
Subject: Re: [aria-tools/ARIA-tools] Update mode: SetMetadataItem (Issue #307)

[External]

Please follow instructions per readme. you sh

[2022-07-28 01:17] #309 closed, assigned to sssangha, dbekaert, rzinke

[2022-07-28 01:17] bbuzzanga commented on #309
Fixed with #313

[2022-07-28 01:18] bbuzzanga commented on #308
Fixed with #313, thanks @sssangha!

[2022-07-28 01:18] #308 closed, assigned to sssangha, dbekaert, rzinke

[2022-07-28 01:25] bbuzzanga commented on #297
Issue is fixed in #306

[2022-07-28 01:25] #297 closed, assigned to sssangha, dbekaert, rzinke

[2022-07-28 01:40] bbuzzanga commented on #307
You can now try to pull this fix: https://github.com/aria-tools/ARIA-tools/pull/314. Recommend to reinstall from as clean an install as you can.

[2022-08-06 23:08] WalternativE commented on #307
@bbuzz31 does this fix only work with the newest version of `gdal` or also with versions prior to `3.5.1`. I tried to run the `ariaTSsetup_tutorial`  notebook in the `ARIA-tools-docs` with the newest version of `ARIA-tools` both with `gdal` versions `3.4.2` and `3.4.3` without success. I haven't yet tried to upgrade to `>= 3.5.1` as the environment I'm running has a lot of moving parts in it.

[2022-08-08 16:06] bbuzzanga commented on #307
@ssangha implemented this fix

[2022-08-08 23:35] sssangha commented on #307
@WalternativE as @bbuzz31 said, please try to reinstall with the newest dev branch, also making sure to update your environment with the new `environment.yml` file. Please let me know if this resolves the issue on your end

[2022-08-09 07:40] WalternativE commented on #307
@sssangha I fear that this isn't possible for me because I would use it together with `isce2` which does not support `gdal` versions greater than `2.4.x` for its latest release. I assume until this conflict resolves in the feature it would be best to have separate environments for different parts of the workflow, right?

[2022-08-09 17:08] KASHKASHOPTIMUS commented on #307
I am using ariaTSsetup script for preparing time series, the script works but tif output does not seem to be supported by gdal.
![MicrosoftTeams-image (23)](https://user-images.githubusercontent.com/107583734/183713806-e604f2a4-7029-43ac-abdb-6cea12bfe35b.png)

[2022-08-09 18:46] bbuzzanga commented on #307
I suspect your openTopo is not configured correctly. What is inside the contents of the SRTM files?

Please move to separate issue if not related to SetMetadataItem.

[2022-08-09 20:00] KASHKASHOPTIMUS commented on #307
The SRTM file seems to be damaged or corrupt as no image is generated. please let me know what other info do you need?The first line of the picture shows how topo api key is set
![MicrosoftTeams-image (24)](https://user-images.githubusercontent.com/107583734/183750006-c193dd2a-a5a1-463c-856f-09dfdc7aa48b.png)

[2022-08-09 21:13] WalternativE commented on #307
@KASHKASHOPTIMUS  the `.topoapi` file should be in your home directory (so I'd just pipe to `~/.topoapi`). I'd also generate a new API key if I were you. Don't know if the bots are crawling images as well on GitHub but one can never be completely sure. For further debugging it would be good if you could create another issue as bbuz31 said. There might be more questions which aren't connected to th

[2022-08-09 21:18] KASHKASHOPTIMUS commented on #307
Thank you for the advice! I was wondering if there is a problem with the DEMfilename as it has a forward and a backward slash in its name. I shall create a new issue. Thanks

[2022-08-09 21:35] bbuzzanga commented on #307
To clarify, I meant open the tif file with a texteditor., e.g., `vi SRTM_3arsec_uncropped.tif` and let us know the results. (Preferably in a new ticket, thanks @WalternativE)

[2022-08-10 20:59] bbuzzanga commented on #312
addressed in #319

[2022-08-10 20:59] #312 closed, assigned to bbuzzanga

[2022-08-15 18:53] KASHKASHOPTIMUS opened #322 "[BUG] SRTM_3arcsec_uncropped.tif not recognized as supported file"
**Invalid API key**
When I ran the ariaTSsetup.py on Anaconda prompt to process netcdf (.nc) files to make time series data. The DEM file which is an output from a code within the script gives a runtime error. When I check the DEM file by opening it on a notepad there seems to be an invalid API key ERROR.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the setup process as mentioned o

[2022-08-16 20:49] KASHKASHOPTIMUS commented on #118
![145](https://user-images.githubusercontent.com/107583734/184982259-faadcf06-7a5a-4c1b-b108-48cb0144aed4.JPG)
I am trying to use mintpy smallbaselineApp.py command for processing of metadata from GUNW .nc files. I am getting this error what could be the mistake?

[2022-08-17 00:24] bbuzzanga commented on #322
You haven't configured your api key for open topo. Follow installation instructions under heading: `REQUIRED: Acquire API key to access/download DEMs`

[2022-08-17 00:24] #322 closed, assigned to sssangha, dbekaert, rzinke

[2022-08-17 00:26] bbuzzanga commented on #307
setMetaDataItem is addressed in https://github.com/aria-tools/ARIA-tools/pull/318
openTopo is addressed in https://github.com/aria-tools/ARIA-tools/issues/322

[2022-08-17 00:26] #307 closed, assigned to nobody

[2022-08-17 00:29] bbuzzanga commented on #118
Open new issues for new issues. Unclear if this is a mintpy issue or ARIA-tools issue.  Provide steps to reproduce.

[2022-08-17 16:56] KASHKASHOPTIMUS opened #324 "SmallbaselineApp.py cannot find ifgram.hd5 file"
**To Reproduce**
Steps to reproduce the behavior:
1. Run commands as per instructions given in jupyter docs for Insar time series analysis using mintpy and aria products
2. On Anaconda Prompt run command python ariaDownload.py -b "29.465237 30.051789 -96.253476 -94.613767" -m 30 -l 36 -s
20180101 -e 20211231 -o Download
3. After download another command on the anaconda prompt python ariaTSsetup.py

[2022-08-17 16:57] KASHKASHOPTIMUS commented on #324
The second image is the configuration file for smallbaselineApp.py

[2022-08-17 17:44] ehavazli commented on #324
This issue is related to MintPy.
It looks like ARIA-tools does what it is supposed to do. Please open this ticket in the MintPy repo.

[2022-08-17 17:44] #324 closed, assigned to sssangha, dbekaert, rzinke

[2022-08-22 13:01] MHMoazezian opened #327 "!ariaDownload.py cant download DESCENDING products?"
HI
I use : "!ariaDownload.py --bbox '30.954987 31.046605 56.354506 56.485358' --workdir data/products --track 166 --start 20181223 --end 20211125 --daysless 73 --daysmore 0" and get 0 product buy there are in Alaska.asf
but when I use track 57 ( ASCENDING) there are many products.

[2022-08-24 19:36] bbuzzanga commented on #327
There are no sentinel 1 products in that bbox. They are only available on track 166 in ~southwest U.S.
Perhaps you were search Sentinel-1 data instead of ARIA interferograms (S1 InSAR on ASF vertex)

[2022-08-24 19:36] #327 closed, assigned to sssangha, dbekaert, rzinke

[2022-08-27 11:30] totaibi opened #328 "issue with cmdLineParse,main"
Dear ARIA team,

I installed the last version of ARIA and got the following error:

[code]

Your support is appreciated

[2022-08-27 13:39] totaibi commented on #328
Problem resolved by updating the requirements

Thanks

[2022-08-27 13:40] #328 closed, assigned to nobody

[2022-11-02 02:43] jlmaurer opened #330 "[BUG] Problem: nothing provides __glibc version"
**Describe the bug**
Running: `conda env create -f environment.yml`
after a clean download of the current repo gives the following error:

`Problem: nothing provides __glibc >=2.17,<3.0.a0 needed by libgdal-3.4.2-h0e87c58_6`

INFO:
 - ARIA-tools git tag:
 commit 844fa0dc6d33c589198aae549e08d400a55156b6 (HEAD -> dev, origin/dev, origin/HEAD)
Merge: a7399f4 155d78d
Author: Simran S Sangha <sssangha@

[2022-11-21 13:32] gaiyf opened #331 "[Q]Can the ARIA process TSX datasets?"
I want to know what kind of SAR sensor can the ARIA   process?

[2022-11-21 16:32] dbekaert commented on #331
We don't have currently a production pipeline implemented, but it would be possible as the workflows already exist. ARIA is using ISCE2 as underlying processor. ISCE2 can process TSX.

[2022-11-30 22:16] #331 closed, assigned to sssangha, dbekaert, rzinke

[2022-11-30 22:17] dbekaert commented on #330
@sssangha @bbuzz31 can you look into this?